{% extends "base_panel.html" %}

{% block title %}Panel{% endblock %}

{% block content %}


<div class="modal fade" id="mDeleteMedia" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">¿Esta seguro de eliminar esta imagen?</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary delete-image">Si</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="mPerfilMedia" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">¿Esta seguro que deseas utilizar esta foto para tu perfil?</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary perfil-image">Si</button>
      </div>
    </div>
  </div>
</div>


<div class="top-ini panel">

  <input type="hidden" id="media_id">

   <div class="container" id="panel">

   {% for data in usuario %}

      <div class="row box-panel">
        <div class="col-md-3">
            {% include 'panel-menu.html' %}
        </div>

        <div class="col-md-9">
          <div>

            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Datos personales</a></li>
              <li role="presentation"><a href="#apariencia" aria-controls="apariencia" role="tab" data-toggle="tab">Apariencia</a></li>
              <li role="presentation"><a href="#fotos" aria-controls="fotos" role="tab" data-toggle="tab">Fotos</a></li>
              <li role="presentation"><a href="#sobremi" aria-controls="interes" role="tab" data-toggle="tab">Sobre mi</a></li>
              <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Configuración</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="home">

                <div class="row" style="padding: 12px 0 0 0">

                  <div class="col-md-12">
                    <ul class="perfil-edit">
                      <li>Nombre : <a href="#" data-type="text" data-pk="1" id="nombre">{{data.nombre}}</a></li>
                      <li>Fecha nacimiento : <a href="#"  data-type="combodate" data-value="{{data.fecha_nac |date:"d-m-Y"}}" data-viewformat="DD/MM/YYYY" data-template="DD / MM / YYYY" data-pk="1"  data-title="Elige la fecha" id="fec_nac">
                      {% if data.fecha_nac == None or data.fecha_nac == "" %}
                       01/01/1985
                      {% else %}
                       {{data.fecha_nac |date:"d/m/Y"}}
                      {% endif %}
                     
                      </a></li>
                      <li>Sexo : <a href="#" data-type="select" data-pk="1" data-value="" id="sexo">
                        {% if data.sexo != None %}
                          {% if data.sexo == 'm' %}
                            Masculino
                          {% endif %}

                          {% if data.sexo == 'f' %}
                            Femenino
                          {% endif %}
                        {% endif %}
                      </a></li>
                      <li>Edad : <span id="edad_text">---</span></li>
                      <li>Signo : <span id="signo">---</span></li>
                      <li>Estado civil : <a href="#" data-type="select" data-pk="1" data-value="" id="estado-civil">

                        {% if data.est_civil == None %}
                          elegir
                        {% else %}

                          {% if data.est_civil == 's' %}
                            Soltero
                          {% elif data.est_civil == 'v' %}
                            Viudo
                          {% elif data.est_civil == 'd' %}
                            Divorciado
                          {% endif %}
                               
                        {% endif %}
                        
                      </a></li>
                      <li>Educación : <a href="#" data-type="select" data-pk="1" data-value="" id="educacion" style="display: none">{{ data.educacion|default:"No especificado" }}</a> <input type="hidden" id="educacion_val" value="{{ data.educacion|default:"0" }}"  /></li>
                      <li>Ocupación : <a href="#" data-type="select" data-pk="1" data-value="" id="ocupacion" style="display: none">{{ data.ocupacion|default:"No especificado" }}</a>  <input type="hidden" id="ocupacion_val" value="{{ data.ocupacion|default:"0" }}"  /></li>
                      <li>Pais : <a href="#" data-type="select" data-pk="1" data-value="" id="pais" data-id ="{{data.ciudad.provincia.pais.id}}">{{ data.ciudad.provincia.pais.nombre}} </a></li>
                      <li>Provincia: <a href="#" data-type="select" data-pk="1" data-value="" id="prov" data-id="{{data.ciudad.provincia.id}}">{{ data.ciudad.provincia.nombre}} </a></li>
                      <li>Ciudad : <a href="#" data-type="select" data-pk="1" data-value="" id="ciudad" data-id="{{data.ciudad.id}}">{{ data.ciudad.nombre}} </a></li>
                    </ul>
                  </div>

                </div>

              </div>

               <div role="tabpanel" class="tab-pane" id="apariencia">
                 <div class="row" style="padding: 12px 0 0 0">
                  <div class="col-md-12">
                    <h5>¿Tu estatura es?</h5>
                    <a href="#" id="estatura" data-type="select" data-pk="1" data-title="Elige tu estatura">{{ data.estatura|default:"elegir" }}</a>
                  </div>

                  <div class="col-md-12">
                    <h5>¿Tu color de piel es?</h5>
                    <a href="#" id="piel" data-type="select" data-pk="1" data-title="Elige tu color de piel">{{ data.piel|default:"elegir" }}</a>
                  </div>

                  <div class="col-md-12">
                    <h5>¿Tu color de ojos?</h5>
                    <a href="#" id="ojos" data-type="select" data-pk="1" data-title="Elige tu color de ojos">{{ data.ojos|default:"elegir" }}</a>
                  </div>

                  <div class="col-md-12">
                    <h5>¿Tu color de cabello?</h5>
                    <a href="#" id="cabello" data-type="select" data-pk="1" data-title="Elige tu color de cabello">{{ data.cabello|default:"elegir" }}</a>
                  </div>

                  <div class="col-md-12">
                    <h5>¿Tu complexión fisica?</h5>
                    <a href="#" id="fisico" data-type="select" data-pk="1" data-title="Elige tu complexión fisica"></a>
                    <input type="hidden" id="fisico_val" value="{{ data.fisico|default:"0" }}" />
                  </div>

                 </div>
               </div>

              <div role="tabpanel" class="tab-pane" id="fotos">

                <div class="row" style="padding: 12px 0 0 0">
                  <div class="col-md-9 text-tab">

                  Tamaño mínimo de fotos <span>(400px de ancho)</span>
               
                  </div>

                  <div class="col-md-3">
                  <form method="post" id="frmMedia" enctype="multipart/form-data">

                      <input id="id_image" type="file" class="filestyle" name="image" data-input="false" data-buttonText="Agregar foto" data-buttonName="btn-1" data-iconName="fa fa-plus" data-badge="false">
                   
                  </form>
                    
                  </div>
                </div>

                <div class="row" style="padding: 12px 0 0 0" id="media-image-upload">

                {% for media in media_photos %}

                {% load replace %}

                  <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                    <a class="thumbnail" href="#" data="{{media.id}}">
                      <img class="img-responsive" src="{% replace search='panel' replacement='' %} {{media.link.name}}.400x300_q85_crop.jpg {% endreplace %}" alt="">

                      <div style="text-align: center">

                        <i class="fa fa-trash-o select-image fa-iconos" data="{{media.id}}"></i> 
                        {% if media.perfil == "" or media.perfil == "no" or media.perfil == None %}
                          <i class="fa fa-star-o select-perfil fa-iconos" data="{{media.id}}"></i>  
                        {% else %}
                        <i class="fa fa-star fa-iconos" data="{{media.id}}"></i>  
                        {% endif%}
                        
                      </div>
                                        
                    </a>
                  </div>

                {% endfor %}

                </div>
                
              </div>
              <div role="tabpanel" class="tab-pane" id="sobremi">

                <div class="row" style="padding: 12px 0 0 0">

                  <input type="hidden" id="id_question" value="{{ question.id }}" />

                  <div class="col-md-12">
                    <h5>¿Estas interesado en?</h5>

                    <a href="#" id="pareja" class="editable-click">
                    {% if question.interesado == "m" %}
                      Hombre
                    {% elif question.interesado == "f" %}
                      Mujer
                    {% else %}
                      Elegir
                    {% endif %}
                    </a>

                    <div class="pareja" style="display: none">

                      <div class="radio radio-danger radio-inline">
                        <input type="radio" id="pareja1" value="m" name="pareja" 
                        {% if question.interesado == "m" %}checked{% endif %} >
                        <label for="pareja1"> Hombre</label>
                      </div>

                      <div class="radio radio-danger radio-inline">
                        <input type="radio" id="pareja2" value="f" name="pareja" {% if question.interesado == "f" %}checked{% endif %} >
                        <label for="pareja2"> Mujer </label>
                      </div>

                    </div>

                  </div>

                  <div class="col-md-12">
                    <h5>¿Tienes hijos?</h5>
                    <a href="#" id="hijos" class="editable-click">

                    {% if question.hijo == 1 or question.hijo == None %}
                    No
                    {% else %}
                    Si
                    {% endif %}
                    </a>
                    <div class="hijos" style="display: none">
                      <div class="radio radio-danger radio-inline">
                        <input type="radio" id="hijo1" value="0" data="Si" name="hijo" {% if question.hijo == 0 %} checked {% endif %}>
                        <label for="hijo1"> Si</label>
                      </div>

                      <div class="radio radio-danger radio-inline">
                        <input type="radio" id="hijo2" value="1" data="No" name="hijo" {% if question.hijo == 1 or question.hijo == None %} checked {% endif %}>
                        <label for="hijo2"> No</label>
                      </div>

                    </div>
                  </div>

                  <div class="col-md-12">
                    <h5>¿Tomas bebidas alcholicas?</h5>
                    <a href="#" id="bebida" class="editable-click">
                      {% if question.bebida == 0 %}
                        Si
                      {% elif question.bebida == 1 or question.bebida == None %}
                        No
                      {% else %}
                        A veces
                      {% endif %}
                    </a>

                    <div class="bebida" style="display: none">
                      <div class="radio radio-danger radio-inline">
                        <input type="radio" id="bebida1" value="0" data="Si" name="bebida" {% if question.bebida == 0 %} checked {% endif %}>
                        <label for="bebida1"> Si</label>
                      </div>

                      <div class="radio radio-danger radio-inline">
                        <input type="radio" id="bebida2" value="1" data="No" name="bebida" {% if question.bebida == 1 or question.bebida == None %} checked {% endif %}>
                        <label for="bebida2"> No</label>
                      </div>

                      <div class="radio radio-danger radio-inline">
                        <input type="radio" id="bebida3" value="2" data="A veces" name="bebida" {% if question.bebida == 2 %} checked {% endif %}>
                        <label for="bebida3"> A veces</label>
                      </div>

                    </div>
                  </div>

                  <div class="col-md-12">
                    <h5>¿Fumas?</h5>
                    <a href="#" id="fumas" class="editable-click">
                      {% if question.fumas == 0 %}
                        Si
                      {% elif question.fumas == 1 or question.fumas == None%}
                        No
                      {% else %}
                         A veces
                      {% endif %}
                    </a>
                    <div class="fumas" style="display: none">

                      <div class="radio radio-danger radio-inline">
                        <input type="radio" id="fumas1" value="0" data="Si" name="fumas" {% if question.fumas == 0 %} checked {% endif %}>
                        <label for="fumas1"> Si</label>
                      </div>

                      <div class="radio radio-danger radio-inline">
                        <input type="radio" id="fumas2" value="1" data="No" name="fumas" {% if question.fumas == 1 or question.fumas == None %} checked {% endif %}>
                        <label for="fumas2"> No</label>
                      </div>

                      <div class="radio radio-danger radio-inline">
                        <input type="radio" id="fumas3" value="2" data="A veces" name="fumas" {% if question.fumas == 2 %} checked {% endif %}>
                        <label for="fumas3"> A veces</label>
                      </div>

                    </div>
                  </div>


                  <div class="col-md-12">
                    <h5>¿Que tipo de música te interesa?</h5>
                    <a href="#" id="music" data-type="select2" data-pk="1" data-title="Elige tus gustos musicales">
                      
                      {% if gm_question.count > 0 %}

                        {% for data in gm_question%}
                          {% if not forloop.first %}, {% endif %}
                          {{ data.musica.descripcion }}
                        {% endfor %}
                      {% else %}
                        Elegir
  
                      {% endif %}
                    </a>
                  </div>

                  <div class="col-md-12">
                    <h5>¿A que religión perteneces?</h5>

                    <a href="#" id="religion" class="editable-click">

                    {% if question.religion_id != None  %}

                      {% for data in religion %}

                        {% if question.religion_id == data.id %} {{data.nombre}} {% endif %}

                      {% endfor %}

                    {% else %}

                      Elegir

                    {% endif %}
         
                    </a>

                    <div class="religion" style="display: none">

                    {% for data in religion %}

                      <div class="radio radio-danger radio-inline">
                        <input type="radio" id="religion1" value="{{data.id}}" data="{{data.nombre}}" name="religion" {% if question.religion_id == data.id %} checked {% endif %}>
                        <label for="religion1"> {{data.nombre}}</label>
                      </div>

                    {% endfor %}

                    </div>

                  </div>

                  <div class="col-md-12">
                    <h5>¿Te atrae la cocina (cocinar)?</h5>
                    <a href="#" id="cocinar" class="editable-click">
                     {% if question.cocina == None %}
                      No
                     {% else %}
                      {% if question.cocina == "si" %}
                        Si
                      {% else %}
                        No
                      {% endif %}

                     {% endif %}

                    </a>

                    <div class="cocinar" style="display: none">

                      <div class="radio radio-danger radio-inline">
                        <input type="radio" id="cocinar1" value="Si" name="cocinar" {% if question.cocina == "si"%} checked {% endif %}>
                        <label for="cocinar1"> Si </label>
                      </div>

                      <div class="radio radio-danger radio-inline">
                        <input type="radio" id="cocinar2" value="No" name="cocinar" {% if question.cocina == "no" or question.cocina == None  or question.cocina == "" %} checked {% endif %}>
                        <label for="cocinar2"> No </label>
                      </div>

                    </div>

                  </div>

                  <div class="col-md-12">
                    <h5>¿Sales a fiestas o conciertos?</h5>

                    <a href="#" id="fiesta" class="editable-click">

                     {% if question.fiesta == None or question.fiesta == "" %}
                      No
                     {% else %}
                      {% if question.fiesta == "Av" %}
                        A veces
                      {% else %}
                        {{ question.fiesta }}
                      {% endif %}
                      
                     {% endif %}

                    </a>

                    <div class="fiesta" style="display: none">
                      <div class="radio radio-danger radio-inline">
                        <input type="radio" id="fiesta1" value="Si" name="fiesta" {% if question.fiesta == "Si"%} checked {% endif %}>
                        <label for="fiesta1"> Si </label>
                      </div>

                      <div class="radio radio-danger radio-inline">
                        <input type="radio" id="fiesta2" value="No" name="fiesta" {% if question.fiesta == "No"  or question.fiesta == None%} checked {% endif %}>
                        <label for="fiesta2"> No </label>
                      </div>

                      <div class="radio radio-danger radio-inline">
                        <input type="radio" id="fiesta3" value="Av" name="fiesta" {% if question.fiesta == "Av"%} checked {% endif %}>
                        <label for="fiesta3"> A veces </label>
                      </div>
                    </div>

                  </div>

              

                </div>
                
              </div>

              <div role="tabpanel" class="tab-pane" id="settings">

                <div class="row" style="padding: 12px 0 0 0">

                  <div class="col-md-12">
                    <h5>Titulo de perfil</h5>
                    <a href="#" id="titulo" data-type="text" data-pk="1" data-title="Elige un titulo personal">{{ data.titulo|default:"editar" }}</a>
                  </div>

                  <div class="col-md-12">
                    <h5>Descripción de perfil</h5>
                    <a href="#" id="descripcion" data-type="textarea" data-pk="1" data-title="Agrega una descripción a tu perfil">{{ data.descripcion|default:"editar" }}</a>

                  </div>

                  <div class="col-md-12">
                    <h5>¿Deseas mostrar tu ubicación?</h5>
                    <input type="checkbox" name="geo-question" data-size="mini" data-on-text="Si" data-off-text="No"
                    {% if question.geo_quest != None and question.geo_quest != "" and question.geo_quest != "No" %}
                    checked
                    {% endif %}>
                  </div>

                  <div class="col-md-12">
                    <h5>Elige el rango en que tu perfil sera visible</h5>
                    <input type="text" id="rango-perfil" data-slider-min="0" data-slider-max="5000" data-slider-step="100" data-slider-value="{{question.distancia | default:"0"}}">
                  </div>

                </div>

              </div>

            </div>

          </div>
        </div>
      </div>

    {% endfor%}

    </div>
</div>

<script type="text/javascript" src="/static/js/library/sweetalert/sweetalert.min.js" > </script> 
<script type="text/javascript" src="/static/js/library/moment/moment.min.js" > </script> 
<script type="text/javascript" src="/static/js/library/select2/select2.js" > </script> 
<script type="text/javascript" src="/static/js/library/bootstrap-editable/bootstrap-editable.min.js" > </script> 
<script type="text/javascript" src="/static/js/library/bootstrap-switch/bootstrap-switch.min.js" > </script> 
<script type="text/javascript" src="/static/js/library/bootstrap-slider/bootstrap-slider.min.js" > </script> 

<script type="text/javascript" src="/static/js/library/bootstrap-filestyle/bootstrap-filestyle.min.js" > </script> 

<script type="text/javascript" src="/static/js/panel.js" > </script> 

{% endblock %}

