          <div class="row" data-bind="with: usuario">

            <div class="col-md-12">

              <img src="{{foto_perfil}}" class="avatar-panel" data-bind = "attr: {src : foto_perfil}">
              <div class="progress">
                <div class="progress-bar progress-bar-status" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                  
                </div>
              </div>
             
            </div>

            <div class="col-md-12">
              <div class="porce-perfil-panel">
                60% completado
              </div>
              <div class="box-options-perfil">
               <h4 data-bind="text: nombre">{{ data.nombre}}</h4> 
               <p class="geo-marker"><i class="fa fa-map-marker"></i> {{ data.ciudad.nombre}} , {{ data.ciudad.provincia.nombre}}</p>
               <div class="row" style="padding: 15px 0">
                <div class="col-md-12">
                  <ul class="option-perfil">
                    <li><a href="/"><i class="fa fa-user"></i>  <span>Visitas de perfil</span></a></li>
                    <li><a href="/panel/mis-pretendientes"><i class="fa fa-share"></i> <span>Mis pretendientes</span></a></li>
                    <li><a href="/"><i class="fa fa-key"></i> <span>Cambiar password</span></a></li>
                    <li><a href="/logout"><i class="fa fa-remove"></i> <span>Cerrar sesión</span></a></li>
                  </ul>

                </div>
                </div>
                
              </div>
            </div>

          </div>

  