{% extends "base_panel.html" %}

{% block title %}Mis pretendientes{% endblock %}

{% block content %}
<div class="top-ini panel">
	<div class="container pretendientes" id="panel">
	{% for data in usuario %}
		<div class="row">
			<div class="col-md-3">
				{% include 'panel-menu.html' %}
			</div>
			<div class="col-md-9">
				<h4>Mis pretendientes</h4>
				<div class="row">

					{% for usuario in pretendientes %}
					<div class="col-xs-2 user-item">
						<a class="thumbnails" href="#">
							<img class="img-responsive" src="{{ usuario.foto}}" alt="">
							<div class="progress">
								<div class="progress-bar progress-bar-status" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">

								</div>
							</div>
						</a>
						<span>10% compatible</span>
						<span class="name">{{ usuario.nombre}}</span>
						
					</div>
					{% endfor %}
			
				</div>

			</div>
		</div>
	{% endfor%}
	</div>
</div>
{% endblock %}