@font-face
    font-family Seravek
    font-style normal
    src url(fonts/seravek/seravek-regular-webfont.ttf) format('truetype')
@font-face
    font-family SeravekBold
    src url(fonts/seravek/seravek-bold-webfont.ttf) format('truetype')
@font-face
    font-family SeravekMedium
    src url(fonts/seravek/seravek-medium-webfont.ttf) format('truetype')

body , html
	
	font-family "Seravek",Arial,Verdana
	overflow-x hidden
	text-rendering "optimizeLegibility"
	
.navbar
	min-height 76px

.navbar-inverse
	background-color #fff
	border-color #ebecef
	box-shadow 2px 5px 8px 0px  #f6f6f8
	& .navbar-brand
		margin 20px 0 0 0
		color #fff
		padding 0
	& .navbar-fixed-top
		border-width initial
		
	
.menu-header
	//width 850px
	& .navbar-nav
		margin 5px 0 0 0
		float right
		&.home 
			margin 25px 0 0 0
		& > .active > a
			color #fb5c5c
			background-color transparent
			&:hover
				background-color transparent
				color #fb5c5c
				
		& > li > a
			font-size 1.1em
			color #fff
			//font-weight bold
			padding 10px 25px
			float left
			&:hover
				color #fff
				background-color transparent
		& > li > input 
			margin 12px 0
			border-radius 10px
			background-color #fb5c5c
			border-color #ff8680
				
.btn-login
	background-color #ff8680
	padding 7px 20px
	border-radius 10px
	color #ffffff
	&:hover
		color #ffffff
		
.top-ini
	margin-top 76px
		
				
#slider-home
	&.carousel
		width 100%
		position relative
	& .carousel-inner
		margin-top 76px
		& .item 
			opacity 0
			transition-property opacity 
			-webkit-transition-property opacity
			-moz-transition-property opacity
			-o-transition-property opacity
			&.fill
				background-position center
				-webkit-background-size cover !important
				-moz-background-size cover !important
				background-size cover !important
				-o-background-size cover !important
				height 343px
				width 100%
			&.active
				opacity 1
		& .carousel-content
			& .box-txt-1
				margin-top 75px
				& h1
					text-align center
					color #fff
					text-shadow 0px 0px 7px rgba(0, 0, 0, 0.75)
					font-weight bold
					font-size 2.8em
			& .box-opciones
				text-align center
				margin 55px 0
				& .btn-opcion
					padding 20px 35px
					background-color #ff8583
					color #ebecef
					text-transform uppercase
					font-size 0.9em
					border-radius 8px
					margin 0 17px
					& strong
						color #fff
						font-weight lighter
						font-size 1.4em

.box-pasos
	margin 10px  0 0 0
	& .border-pasos
		border-top 1px dashed #ccc
		margin 10px 0
	& h2 
		font-size 1.5em
		margin 10px 0
		font-weight bold
		color #fb5c5c
		
	& ul.como-funciona
		list-style-type  none
		float right
		& > li
			float left
			padding 0 20px
			border-left 1px solid #ccc
			&:first-child
				border-left none
			&:last-child
				padding 0 0 0 20px
			& i 
				color #fb5c5c
				font-size 1.5em
			& > a
				color #000
				text-decoration none
				font-weight bold
				font-size 1.1em
				color #fb5c5c
.box-members
	& h4
		margin 15px 0 15px 0
		font-size 1.1em
		font-weight bold
		color #fb5c5c
.box-prensa
	background-color #f6f4f1
	& p 
		font-weight bold
		font-size 1em
		margin 15px 0
	& ul.prensa
		list-style-type  none
		float left 
		margin-left 35px
		& > li 
			float left
			margin 0 35px 0 0
			&.prensa-1 a 
				background-position 0 -120px
				width 123px
			&.prensa-2 a 
				width 142px
			&.prensa-3 a 
				width 69px
				background-position 0 -240px
			&.prensa-4 a 
				width 120px
				background-position 0 -160px
			& > a 
				float left
				height 20px
				background url(../img/prensa.gif) no-repeat 0 0
				text-indent -99999px
				
.footer
	padding 18px 0
	& h5
		font-size 1em
		font-weight bold
		margin 8px 0 
		color #fb5c5c
	& ul
		list-style-type  none
		margin 0
		padding 0
		& > li
			margin-bottom 3px
			& > a 
				font-size 0.8em
				color #716E75
	& ul.social
		list-style-type  none
		margin 0
		padding 0
		& > li 
			float left
			margin 0 8px 0 0
			& > a 
				font-size 1.2em
				& > i
					color #fb5c5c
	
	& .copyright
		color #666
		text-align center
		font-size 0.7em
		margin 25px 0 0 0
		
.register
	padding 25px 0
	& h1
		margin 0
		font-size 1.8em
		color #ff8583
		font-weight bold
	& p 
		margin 7px 0
		color #7c7c7c
	& .control-label 
		color #ff8583
	& .btn-register
		background-color #ff8583
		color #fff
.m0
	margin 0 !important
		
.center
	text-align center
		
.panel-menu

	& .form-control
		margin 13px 0
		border-radius 20px
		border none
		box-shadow none
		color #fb5c5c
	
		&:focus
			outline none
			border-color none
		&::-webkit-input-placeholder
			color #fb5c5c
		&::-moz-placeholder
			color #fb5c5c
		&:-ms-input-placeholder
			color #fb5c5c
	& ul 
		margin 13px 0 0 0

		& li 
			&.active  a
				color #fb5c5c !important
				background-color transparent !important
				&:hover
					background-color transparent
					color #fb5c5c
			&.open
				&>a:hover
					background-color transparent !important
				&>a:focus
					background-color transparent !important
				&>a:link
					background-color transparent !important
			& .dropdown-menu
				left auto !important
				right 0
				width 290px
				margin-top 2px
				padding 0 0 1px 0
				border 1px solid rgba(0, 0, 0, .15) !important
				-webkit-box-shadow 0 6px 12px rgba(0, 0, 0, .175) !important
				box-shadow 0 6px 12px rgba(0, 0, 0, .175) !important
				& .list-group
					margin-bottom 0
				& .list-group-item
					position relative
					display block
					padding 10px
					margin-bottom -1px
					background-color #fff
					border 1px solid #e4eaec
					border-radius 0
					border-left 0
					border-right 0
					&:hover
						background-color #f1f1f1
					&:first-child
						border-top 0
					&:last-child
						border-bottom 0
				& .lg-img
					width 40px
					height 40px
					border-radius 50%
				& .media-box
					& > .pull-left
						margin-right 10px
				& .media-box-body
					overflow hidden
					zoom 1
					& p 
						font-weight bold
					
			& > a
				padding 10px 10px !important
				& .avatar
					margin-right 14px
					margin-top 0px
					display block
					float: left
					//border-left 2px solid #fb6e52
					width 47px
					height 47px
					& > img
						width 47px
						height 47px
						border-radius 50%
				& span
					margin 15px 15px 0px 25px
					float left
					color #ff8583
					font-family "SeravekMedium",Verdana
					&.badge.notify
						margin 0
						float none 
						background-color #ff513a
						position absolute
						top 8px
						right 0
				& i 
					font-size 1.2em
					color #ff8583
			& .hi-icon
				width 27px
				height 27px
				margin 12px 0
				&:before
					font-size 17px
					line-height 27px
					background-color #ffbcbb
					border-radius 50%
					
.no-padding-left
	padding-left 0
	
.btn-1
	background-color #17cb86
	border-color transparent
	color #fff
	padding 7px 12px
	&:hover
		color #fff
.bold 
	font-weight bold
					
.panel 
	padding 25px 0
	& .box-panel 
		background-color #f5fbfb
		& .col-md-3 
			padding 0
		& .col-md-9
			padding-top 29px
	& .box-options-perfil
		max-width 220px
		margin 0
		float left
		padding 0 30px
		background-color #eff4f4
		& p.geo-marker
			color #7c7c7c
			font-size 1.1em
			& i 
				color #ff8583
				font-size 1.4em
	& .porce-perfil-panel
		width 220px
		background-color #eff4f4
		padding 8px 10px
		color #ff8583
		font-size 0.9em
		font-weight bold
		
	& .progress
		border-radius 0
		width 220px
		height 5px
		margin-bottom 0
		background-color #b6b6b6
	& .progress-bar-status
		background-color #ff8583
	& .avatar-panel
		width 220px
		max-width 100%
	& h4
		font-size 1.4em
		font-weight bold
		padding-top 5px
		color #7c7c7c
	& h5
		font-size 1em
		font-weight bold
		color #ff8583
	& p 
		font-size 0.88em
	& ul.option-perfil
		list-style-type  none
		margin 0
		padding 0
		& li
			font-size 1em
			padding-bottom 12px
			& > a
				color #ff8583
				font-weight bold
				& i 
					padding 6px 7px
					border-radius 50%
					background-color #ddd
				& span 
					padding-left 8px
	& .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus
		border 1px solid #ff8680 !important
		border-bottom-color transparent !important
		color #ff8583 !important
		background-color #f5fbfb
		//font-weight bold
	& .nav-tabs > li.active > a:hover
		color #ff8583 !important
	& .nav-tabs
		border-bottom 1px solid #ff8583 !important
	& .nav-tabs > li > a
		color #ff8583 
		font-family "SeravekMedium"
		font-size 1.04em
		&:hover
			background-color #ff8680
			color #fff
			border-bottom transparent
	& .tab-content
		& .text-tab
			color #3A3535
			& span 
				font-weight bold
		& .thumb
			& .fa-iconos
				font-size 1.3em
				margin 8px 0
				color #ff513a
	& .perfil-edit
		list-style-type  none
		margin 0
		padding 0 15px
		& li
			color #ff8583
			font-weight bold
			padding 5px 0
			& a 
				text-decoration none
				border-bottom dashed 1px #3a3535
				color #7c7c7c
				font-weight lighter
			& > span
				font-weight lighter
				color #7c7c7c
	& .bootstrap-filestyle.input-group
		float right !important
		
/*------------------Perfiles--------------------*/
.fondo-loading
	position fixed
	top 0
	right 0
	left 0
	bottom 0
	background-color #ddd
	width 100%
	height 100%
	overflow none
	outline 0 
	z-index 1050
	opacity 0.5
	display none
	
.container-perfiles
	& .box-search 
		font-size 1.1em
		padding-bottom 18px
		border-bottom 2px solid #ddd
		& h4
			font-weight bold
			color #7c7c7c
		& .form-control
			padding 7px 9px
			border-radius 5px
			background #f1f1f1
			color #7c7c7c
			border none
			font-weight bold
			
		& .btn-search
			background-color #17cb86
			border none 
			color #fff
			border-bottom 4px solid #00BD76
			padding 4px 35px
			font-size 1.1em
			font-weight bold
			&:hover
				background-color #3BD39A

	& .content-opciones
		& .box-opciones
			margin-bottom 10px
			& span.title
				padding 8px 15px
				background-color #f1f1f1
				display block
				color #7c7c7c
				font-weight bold
				font-size 1.1em
				border-radius 7px
				border-bottom 4px solid #ddd
			& .checkbox
				margin-left 20px
				color #7c7c7c
			& .radio
				margin-left 20px
				color #7c7c7c
			
	& .list-perfiles
		& .ver-mas a
			color #fb5c5c
			font-weight bold
		& .loading 
			display none
		& .box-perfiles
			padding-bottom 20px
			padding-top 20px
			border-bottom 2px solid #ddd
			padding-left 18px
			padding-right 18px
			& p 
				color #7c7c7c
			&:hover
				background-color #f1f1f1
			& .geo
				float left
				& .lbl-pais
					float left
					color #7c7c7c
				& .flag
					position relative
					float left
			& h1 
				& a 
					color #ff8583
					font-size 0.8em
					font-weight 600
					cursor pointer
			& .title 
				color #7c7c7c
				font-weight 600
			& .edad
				color #ff8583
			& .acceso-reg
				color #7c7c7c
				font-weight bold
				font-size 0.9em

/*------------------------- Profile -------------------------*/

.content-profile
	background-color #f5fbfb
	& .col-md-3
		padding 0
	& .image-perfil
		& > img 
			max-width 100%
			width 220px
	& .box-perfil
		width 220px
		min-height 200px
		float left
		background-color #eff4f4
		padding 0
		& .progress
			border-radius 0
			width 220px
			height 5px
			margin-bottom 0
			background-color #b6b6b6
		& .progress-bar-status
			background-color #ff8583
		& .porce-perfil-panel
			width 220px
			background-color #eff4f4
			padding 8px 10px
			color #ff8583
			font-size 0.9em
			font-weight bold
			
	& .city
		text-align center
		color #7c7c7c
		& i 
			color #ff8583
			font-size 1.4em
		
	& .box-more-image
		margin-top 15px
		text-align center
		& > a 
			padding 5px 20px
			background-color #ddd
			border-radius 5px
			color #ff8583
			font-weight bold
	& .box-message-btn
		margin-top 18px
		margin-bottom 15px
		text-align center
		& > a
			padding 5px 20px
			background-color #17cb86
			border-radius 5px
			color #fff
			font-weight bold
			font-size 1.1em
	& .title-bar
		padding 15px 0  0 0 
		border-radius 5px
		color #7c7c7c
		float left
		width 100%
		& .title 
			float left
			font-weight bold
			font-size 1.2em
		& .opciones 
			float right
	& .tab-content > .tab-pane
		padding 15px 15px
		float left
	& .box-descripcion
		width 100%
		color #7c7c7c
	& .data-list
		margin-top 10px
		float left
		width 100%
		color #7c7c7c
		& .item
			font-weight bold
			color #ff8583
	& .box-tab
		margin-top 20px
		float left
		width 100%
		& .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus
			border 1px solid #ff8583 !important
			border-bottom-color transparent !important
			color #ff8583 !important
			background-color #f5fbfb
			font-weight bold
		& .nav-tabs > li.active > a:hover
			color #ff8583 !important
		& .nav-tabs
			border-bottom 1px solid #ff8583 !important
		& .nav-tabs > li > a
			color #ff8583 
			font-weight bold
			&:hover
				background-color #ff8680
				color #fff
				border-bottom transparent
		& .tab-content
			& .text-tab
				color #3A3535
				& span 
					font-weight bold
		& .box-fotos
			padding 20px 0
			& .item-foto
				margin-bottom 20px
				position relative
				float left
				&:before
					content ''
					position absolute
					top 6px
					right 7px
					bottom 6px
					left 7px
					border 1px solid rgba(255,255,255,0.5)
					//width 83%
			
		& .box-musica
			padding 20px 0
			& .label-default
				font-size 0.9em
				background-color #ff8583
				
/*------------------------- Pretendientes-------------------------*/
.pretendientes
	& .user-item
		text-align center
		& .progress
			max-width 100%
		& .name 
			color #7c7c7c

/*--------------------------Banderas-------------------------*/

.flag
	width 16px
	height 11px
	background url("../img/flags.png") no-repeat
	position absolute
	margin 5px 5px

.flag
	&.flag-ad
		background-position -16px 0
	&.flag-ae
		background-position -32px 0
	&.flag-af
		background-position -48px 0
	&.flag-ag
		background-position -64px 0
	&.flag-ai
		background-position -80px 0
	&.flag-al
		background-position -96px 0
	&.flag-am
		background-position -112px 0
	&.flag-an
		background-position -128px 0
	&.flag-ao
		background-position -144px 0
	&.flag-ar
		background-position -160px 0
	&.flag-as
		background-position -176px 0
	&.flag-at
		background-position -192px 0
	&.flag-au
		background-position -208px 0
	&.flag-aw
		background-position -224px 0
	&.flag-az
		background-position -240px 0
	&.flag-ba
		background-position 0 -11px
	&.flag-bb
		background-position -16px -11px
	&.flag-bd
		background-position -32px -11px
	&.flag-be
		background-position -48px -11px
	&.flag-bf
		background-position -64px -11px
	&.flag-bg
		background-position -80px -11px
	&.flag-bh
		background-position -96px -11px
	&.flag-bi
		background-position -112px -11px
	&.flag-bj
		background-position -128px -11px
	&.flag-bm
		background-position -144px -11px
	&.flag-bn
		background-position -160px -11px
	&.flag-bo
		background-position -176px -11px
	&.flag-br
		background-position -192px -11px
	&.flag-bs
		background-position -208px -11px
	&.flag-bt
		background-position -224px -11px
	&.flag-bv
		background-position -240px -11px
	&.flag-bw
		background-position 0 -22px
	&.flag-by
		background-position -16px -22px
	&.flag-bz
		background-position -32px -22px
	&.flag-ca
		background-position -48px -22px
	&.flag-catalonia
		background-position -64px -22px
	&.flag-cd
		background-position -80px -22px
	&.flag-cf
		background-position -96px -22px
	&.flag-cg
		background-position -112px -22px
	&.flag-ch
		background-position -128px -22px
	&.flag-ci
		background-position -144px -22px
	&.flag-ck
		background-position -160px -22px
	&.flag-cl
		background-position -176px -22px
	&.flag-cm
		background-position -192px -22px
	&.flag-cn
		background-position -208px -22px
	&.flag-co
		background-position -224px -22px
	&.flag-cr
		background-position -240px -22px
	&.flag-cu
		background-position 0 -33px
	&.flag-cv
		background-position -16px -33px
	&.flag-cw
		background-position -32px -33px
	&.flag-cy
		background-position -48px -33px
	&.flag-cz
		background-position -64px -33px
	&.flag-de
		background-position -80px -33px
	&.flag-dj
		background-position -96px -33px
	&.flag-dk
		background-position -112px -33px
	&.flag-dm
		background-position -128px -33px
	&.flag-do
		background-position -144px -33px
	&.flag-dz
		background-position -160px -33px
	&.flag-ec
		background-position -176px -33px
	&.flag-ee
		background-position -192px -33px
	&.flag-eg
		background-position -208px -33px
	&.flag-eh
		background-position -224px -33px
	&.flag-england
		background-position -240px -33px
	&.flag-er
		background-position 0 -44px
	&.flag-es
		background-position -16px -44px
	&.flag-et
		background-position -32px -44px
	&.flag-eu
		background-position -48px -44px
	&.flag-fi
		background-position -64px -44px
	&.flag-fj
		background-position -80px -44px
	&.flag-fk
		background-position -96px -44px
	&.flag-fm
		background-position -112px -44px
	&.flag-fo
		background-position -128px -44px
	&.flag-fr
		background-position -144px -44px
	&.flag-ga
		background-position -160px -44px
	&.flag-gb
		background-position -176px -44px
	&.flag-gd
		background-position -192px -44px
	&.flag-ge
		background-position -208px -44px
	&.flag-gf
		background-position -224px -44px
	&.flag-gg
		background-position -240px -44px
	&.flag-gh
		background-position 0 -55px
	&.flag-gi
		background-position -16px -55px
	&.flag-gl
		background-position -32px -55px
	&.flag-gm
		background-position -48px -55px
	&.flag-gn
		background-position -64px -55px
	&.flag-gp
		background-position -80px -55px
	&.flag-gq
		background-position -96px -55px
	&.flag-gr
		background-position -112px -55px
	&.flag-gs
		background-position -128px -55px
	&.flag-gt
		background-position -144px -55px
	&.flag-gu
		background-position -160px -55px
	&.flag-gw
		background-position -176px -55px
	&.flag-gy
		background-position -192px -55px
	&.flag-hk
		background-position -208px -55px
	&.flag-hm
		background-position -224px -55px
	&.flag-hn
		background-position -240px -55px
	&.flag-hr
		background-position 0 -66px
	&.flag-ht
		background-position -16px -66px
	&.flag-hu
		background-position -32px -66px
	&.flag-ic
		background-position -48px -66px
	&.flag-id
		background-position -64px -66px
	&.flag-ie
		background-position -80px -66px
	&.flag-il
		background-position -96px -66px
	&.flag-im
		background-position -112px -66px
	&.flag-in
		background-position -128px -66px
	&.flag-io
		background-position -144px -66px
	&.flag-iq
		background-position -160px -66px
	&.flag-ir
		background-position -176px -66px
	&.flag-is
		background-position -192px -66px
	&.flag-it
		background-position -208px -66px
	&.flag-je
		background-position -224px -66px
	&.flag-jm
		background-position -240px -66px
	&.flag-jo
		background-position 0 -77px
	&.flag-jp
		background-position -16px -77px
	&.flag-ke
		background-position -32px -77px
	&.flag-kg
		background-position -48px -77px
	&.flag-kh
		background-position -64px -77px
	&.flag-ki
		background-position -80px -77px
	&.flag-km
		background-position -96px -77px
	&.flag-kn
		background-position -112px -77px
	&.flag-kp
		background-position -128px -77px
	&.flag-kr
		background-position -144px -77px
	&.flag-kurdistan
		background-position -160px -77px
	&.flag-kw
		background-position -176px -77px
	&.flag-ky
		background-position -192px -77px
	&.flag-kz
		background-position -208px -77px
	&.flag-la
		background-position -224px -77px
	&.flag-lb
		background-position -240px -77px
	&.flag-lc
		background-position 0 -88px
	&.flag-li
		background-position -16px -88px
	&.flag-lk
		background-position -32px -88px
	&.flag-lr
		background-position -48px -88px
	&.flag-ls
		background-position -64px -88px
	&.flag-lt
		background-position -80px -88px
	&.flag-lu
		background-position -96px -88px
	&.flag-lv
		background-position -112px -88px
	&.flag-ly
		background-position -128px -88px
	&.flag-ma
		background-position -144px -88px
	&.flag-mc
		background-position -160px -88px
	&.flag-md
		background-position -176px -88px
	&.flag-me
		background-position -192px -88px
	&.flag-mg
		background-position -208px -88px
	&.flag-mh
		background-position -224px -88px
	&.flag-mk
		background-position -240px -88px
	&.flag-ml
		background-position 0 -99px
	&.flag-mm
		background-position -16px -99px
	&.flag-mn
		background-position -32px -99px
	&.flag-mo
		background-position -48px -99px
	&.flag-mp
		background-position -64px -99px
	&.flag-mq
		background-position -80px -99px
	&.flag-mr
		background-position -96px -99px
	&.flag-ms
		background-position -112px -99px
	&.flag-mt
		background-position -128px -99px
	&.flag-mu
		background-position -144px -99px
	&.flag-mv
		background-position -160px -99px
	&.flag-mw
		background-position -176px -99px
	&.flag-mx
		background-position -192px -99px
	&.flag-my
		background-position -208px -99px
	&.flag-mz
		background-position -224px -99px
	&.flag-na
		background-position -240px -99px
	&.flag-nc
		background-position 0 -110px
	&.flag-ne
		background-position -16px -110px
	&.flag-nf
		background-position -32px -110px
	&.flag-ng
		background-position -48px -110px
	&.flag-ni
		background-position -64px -110px
	&.flag-nl
		background-position -80px -110px
	&.flag-no
		background-position -96px -110px
	&.flag-np
		background-position -112px -110px
	&.flag-nr
		background-position -128px -110px
	&.flag-nu
		background-position -144px -110px
	&.flag-nz
		background-position -160px -110px
	&.flag-om
		background-position -176px -110px
	&.flag-pa
		background-position -192px -110px
	&.flag-pe
		background-position -208px -110px
	&.flag-pf
		background-position -224px -110px
	&.flag-pg
		background-position -240px -110px
	&.flag-ph
		background-position 0 -121px
	&.flag-pk
		background-position -16px -121px
	&.flag-pl
		background-position -32px -121px
	&.flag-pm
		background-position -48px -121px
	&.flag-pn
		background-position -64px -121px
	&.flag-pr
		background-position -80px -121px
	&.flag-ps
		background-position -96px -121px
	&.flag-pt
		background-position -112px -121px
	&.flag-pw
		background-position -128px -121px
	&.flag-py
		background-position -144px -121px
	&.flag-qa
		background-position -160px -121px
	&.flag-re
		background-position -176px -121px
	&.flag-ro
		background-position -192px -121px
	&.flag-rs
		background-position -208px -121px
	&.flag-ru
		background-position -224px -121px
	&.flag-rw
		background-position -240px -121px
	&.flag-sa
		background-position 0 -132px
	&.flag-sb
		background-position -16px -132px
	&.flag-sc
		background-position -32px -132px
	&.flag-scotland
		background-position -48px -132px
	&.flag-sd
		background-position -64px -132px
	&.flag-se
		background-position -80px -132px
	&.flag-sg
		background-position -96px -132px
	&.flag-sh
		background-position -112px -132px
	&.flag-si
		background-position -128px -132px
	&.flag-sk
		background-position -144px -132px
	&.flag-sl
		background-position -160px -132px
	&.flag-sm
		background-position -176px -132px
	&.flag-sn
		background-position -192px -132px
	&.flag-so
		background-position -208px -132px
	&.flag-somaliland
		background-position -224px -132px
	&.flag-sr
		background-position -240px -132px
	&.flag-ss
		background-position 0 -143px
	&.flag-st
		background-position -16px -143px
	&.flag-sv
		background-position -32px -143px
	&.flag-sx
		background-position -48px -143px
	&.flag-sy
		background-position -64px -143px
	&.flag-sz
		background-position -80px -143px
	&.flag-tc
		background-position -96px -143px
	&.flag-td
		background-position -112px -143px
	&.flag-tf
		background-position -128px -143px
	&.flag-tg
		background-position -144px -143px
	&.flag-th
		background-position -160px -143px
	&.flag-tj
		background-position -176px -143px
	&.flag-tk
		background-position -192px -143px
	&.flag-tl
		background-position -208px -143px
	&.flag-tm
		background-position -224px -143px
	&.flag-tn
		background-position -240px -143px
	&.flag-to
		background-position 0 -154px
	&.flag-tr
		background-position -16px -154px
	&.flag-tt
		background-position -32px -154px
	&.flag-tv
		background-position -48px -154px
	&.flag-tw
		background-position -64px -154px
	&.flag-tz
		background-position -80px -154px
	&.flag-ua
		background-position -96px -154px
	&.flag-ug
		background-position -112px -154px
	&.flag-um
		background-position -128px -154px
	&.flag-us
		background-position -144px -154px
	&.flag-uy
		background-position -160px -154px
	&.flag-uz
		background-position -176px -154px
	&.flag-va
		background-position -192px -154px
	&.flag-vc
		background-position -208px -154px
	&.flag-ve
		background-position -224px -154px
	&.flag-vg
		background-position -240px -154px
	&.flag-vi
		background-position 0 -165px
	&.flag-vn
		background-position -16px -165px
	&.flag-vu
		background-position -32px -165px
	&.flag-wales
		background-position -48px -165px
	&.flag-wf
		background-position -64px -165px
	&.flag-ws
		background-position -80px -165px
	&.flag-ye
		background-position -96px -165px
	&.flag-yt
		background-position -112px -165px
	&.flag-za
		background-position -128px -165px
	&.flag-zanzibar
		background-position -144px -165px
	&.flag-zm
		background-position -160px -165px
	&.flag-zw
		background-position -176px -165px

