@font-face {
  font-family: Seravek;
  font-style: normal;
  src: url("fonts/seravek/seravek-regular-webfont.ttf") format('truetype');
}
@font-face {
  font-family: SeravekBold;
  src: url("fonts/seravek/seravek-bold-webfont.ttf") format('truetype');
}
@font-face {
  font-family: SeravekMedium;
  src: url("fonts/seravek/seravek-medium-webfont.ttf") format('truetype');
}
body,
html {
  font-family: "Seravek", Arial, Verdana;
  overflow-x: hidden;
  text-rendering: "optimizeLegibility";
}
.navbar {
  min-height: 76px;
}
.navbar-inverse {
  background-color: #fff;
  border-color: #ebecef;
  box-shadow: 2px 5px 8px 0px #f6f6f8;
}
.navbar-inverse .navbar-brand {
  margin: 20px 0 0 0;
  color: #fff;
  padding: 0;
}
.navbar-inverse .navbar-fixed-top {
  border-width: initial;
}
.menu-header .navbar-nav {
  margin: 5px 0 0 0;
  float: right;
}
.menu-header .navbar-nav.home {
  margin: 25px 0 0 0;
}
.menu-header .navbar-nav > .active > a {
  color: #fb5c5c;
  background-color: transparent;
}
.menu-header .navbar-nav > .active > a:hover {
  background-color: transparent;
  color: #fb5c5c;
}
.menu-header .navbar-nav > li > a {
  font-size: 1.1em;
  color: #fff;
  padding: 10px 25px;
  float: left;
}
.menu-header .navbar-nav > li > a:hover {
  color: #fff;
  background-color: transparent;
}
.menu-header .navbar-nav > li > input {
  margin: 12px 0;
  border-radius: 10px;
  background-color: #fb5c5c;
  border-color: #ff8680;
}
.btn-login {
  background-color: #ff8680;
  padding: 7px 20px;
  border-radius: 10px;
  color: #fff;
}
.btn-login:hover {
  color: #fff;
}
.top-ini {
  margin-top: 76px;
}
#slider-home.carousel {
  width: 100%;
  position: relative;
}
#slider-home .carousel-inner {
  margin-top: 76px;
}
#slider-home .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
}
#slider-home .carousel-inner .item.fill {
  background-position: center;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  background-size: cover !important;
  -o-background-size: cover !important;
  height: 343px;
  width: 100%;
}
#slider-home .carousel-inner .item.active {
  opacity: 1;
}
#slider-home .carousel-inner .carousel-content .box-txt-1 {
  margin-top: 75px;
}
#slider-home .carousel-inner .carousel-content .box-txt-1 h1 {
  text-align: center;
  color: #fff;
  text-shadow: 0px 0px 7px rgba(0,0,0,0.75);
  font-weight: bold;
  font-size: 2.8em;
}
#slider-home .carousel-inner .carousel-content .box-opciones {
  text-align: center;
  margin: 55px 0;
}
#slider-home .carousel-inner .carousel-content .box-opciones .btn-opcion {
  padding: 20px 35px;
  background-color: #ff8583;
  color: #ebecef;
  text-transform: uppercase;
  font-size: 0.9em;
  border-radius: 8px;
  margin: 0 17px;
}
#slider-home .carousel-inner .carousel-content .box-opciones .btn-opcion strong {
  color: #fff;
  font-weight: lighter;
  font-size: 1.4em;
}
.box-pasos {
  margin: 10px 0 0 0;
}
.box-pasos .border-pasos {
  border-top: 1px dashed #ccc;
  margin: 10px 0;
}
.box-pasos h2 {
  font-size: 1.5em;
  margin: 10px 0;
  font-weight: bold;
  color: #fb5c5c;
}
.box-pasos ul.como-funciona {
  list-style-type: none;
  float: right;
}
.box-pasos ul.como-funciona > li {
  float: left;
  padding: 0 20px;
  border-left: 1px solid #ccc;
}
.box-pasos ul.como-funciona > li:first-child {
  border-left: none;
}
.box-pasos ul.como-funciona > li:last-child {
  padding: 0 0 0 20px;
}
.box-pasos ul.como-funciona > li i {
  color: #fb5c5c;
  font-size: 1.5em;
}
.box-pasos ul.como-funciona > li > a {
  color: #000;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.1em;
  color: #fb5c5c;
}
.box-members h4 {
  margin: 15px 0 15px 0;
  font-size: 1.1em;
  font-weight: bold;
  color: #fb5c5c;
}
.box-prensa {
  background-color: #f6f4f1;
}
.box-prensa p {
  font-weight: bold;
  font-size: 1em;
  margin: 15px 0;
}
.box-prensa ul.prensa {
  list-style-type: none;
  float: left;
  margin-left: 35px;
}
.box-prensa ul.prensa > li {
  float: left;
  margin: 0 35px 0 0;
}
.box-prensa ul.prensa > li.prensa-1 a {
  background-position: 0 -120px;
  width: 123px;
}
.box-prensa ul.prensa > li.prensa-2 a {
  width: 142px;
}
.box-prensa ul.prensa > li.prensa-3 a {
  width: 69px;
  background-position: 0 -240px;
}
.box-prensa ul.prensa > li.prensa-4 a {
  width: 120px;
  background-position: 0 -160px;
}
.box-prensa ul.prensa > li > a {
  float: left;
  height: 20px;
  background: url("../img/prensa.gif") no-repeat 0 0;
  text-indent: -99999px;
}
.footer {
  padding: 18px 0;
}
.footer h5 {
  font-size: 1em;
  font-weight: bold;
  margin: 8px 0;
  color: #fb5c5c;
}
.footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer ul > li {
  margin-bottom: 3px;
}
.footer ul > li > a {
  font-size: 0.8em;
  color: #716e75;
}
.footer ul.social {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer ul.social > li {
  float: left;
  margin: 0 8px 0 0;
}
.footer ul.social > li > a {
  font-size: 1.2em;
}
.footer ul.social > li > a > i {
  color: #fb5c5c;
}
.footer .copyright {
  color: #666;
  text-align: center;
  font-size: 0.7em;
  margin: 25px 0 0 0;
}
.register {
  padding: 25px 0;
}
.register h1 {
  margin: 0;
  font-size: 1.8em;
  color: #ff8583;
  font-weight: bold;
}
.register p {
  margin: 7px 0;
  color: #7c7c7c;
}
.register .control-label {
  color: #ff8583;
}
.register .btn-register {
  background-color: #ff8583;
  color: #fff;
}
.m0 {
  margin: 0 !important;
}
.center {
  text-align: center;
}
.panel-menu .form-control {
  margin: 13px 0;
  border-radius: 20px;
  border: none;
  box-shadow: none;
  color: #fb5c5c;
}
.panel-menu .form-control:focus {
  outline: none;
  border-color: none;
}
.panel-menu .form-control::-webkit-input-placeholder {
  color: #fb5c5c;
}
.panel-menu .form-control::-moz-placeholder {
  color: #fb5c5c;
}
.panel-menu .form-control:-ms-input-placeholder {
  color: #fb5c5c;
}
.panel-menu ul {
  margin: 13px 0 0 0;
}
.panel-menu ul li.active a {
  color: #fb5c5c !important;
  background-color: transparent !important;
}
.panel-menu ul li.active a:hover {
  background-color: transparent;
  color: #fb5c5c;
}
.panel-menu ul li.open>a:hover {
  background-color: transparent !important;
}
.panel-menu ul li.open>a:focus {
  background-color: transparent !important;
}
.panel-menu ul li.open>a:link {
  background-color: transparent !important;
}
.panel-menu ul li .dropdown-menu {
  left: auto !important;
  right: 0;
  width: 290px;
  margin-top: 2px;
  padding: 0 0 1px 0;
  border: 1px solid rgba(0,0,0,0.15) !important;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.175) !important;
  box-shadow: 0 6px 12px rgba(0,0,0,0.175) !important;
}
.panel-menu ul li .dropdown-menu .list-group {
  margin-bottom: 0;
}
.panel-menu ul li .dropdown-menu .list-group-item {
  position: relative;
  display: block;
  padding: 10px;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid #e4eaec;
  border-radius: 0;
  border-left: 0;
  border-right: 0;
}
.panel-menu ul li .dropdown-menu .list-group-item:hover {
  background-color: #f1f1f1;
}
.panel-menu ul li .dropdown-menu .list-group-item:first-child {
  border-top: 0;
}
.panel-menu ul li .dropdown-menu .list-group-item:last-child {
  border-bottom: 0;
}
.panel-menu ul li .dropdown-menu .lg-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.panel-menu ul li .dropdown-menu .media-box > .pull-left {
  margin-right: 10px;
}
.panel-menu ul li .dropdown-menu .media-box-body {
  overflow: hidden;
  zoom: 1;
}
.panel-menu ul li .dropdown-menu .media-box-body p {
  font-weight: bold;
}
.panel-menu ul li > a {
  padding: 10px 10px !important;
}
.panel-menu ul li > a .avatar {
  margin-right: 14px;
  margin-top: 0px;
  display: block;
  float: left;
  width: 47px;
  height: 47px;
}
.panel-menu ul li > a .avatar > img {
  width: 47px;
  height: 47px;
  border-radius: 50%;
}
.panel-menu ul li > a span {
  margin: 15px 15px 0px 25px;
  float: left;
  color: #ff8583;
  font-family: "SeravekMedium", Verdana;
}
.panel-menu ul li > a span.badge.notify {
  margin: 0;
  float: none;
  background-color: #ff513a;
  position: absolute;
  top: 8px;
  right: 0;
}
.panel-menu ul li > a i {
  font-size: 1.2em;
  color: #ff8583;
}
.panel-menu ul li .hi-icon {
  width: 27px;
  height: 27px;
  margin: 12px 0;
}
.panel-menu ul li .hi-icon:before {
  font-size: 17px;
  line-height: 27px;
  background-color: #ffbcbb;
  border-radius: 50%;
}
.no-padding-left {
  padding-left: 0;
}
.btn-1 {
  background-color: #17cb86;
  border-color: transparent;
  color: #fff;
  padding: 7px 12px;
}
.btn-1:hover {
  color: #fff;
}
.bold {
  font-weight: bold;
}
.panel {
  padding: 25px 0;
}
.panel .box-panel {
  background-color: #f5fbfb;
}
.panel .box-panel .col-md-3 {
  padding: 0;
}
.panel .box-panel .col-md-9 {
  padding-top: 29px;
}
.panel .box-options-perfil {
  max-width: 220px;
  margin: 0;
  float: left;
  padding: 0 30px;
  background-color: #eff4f4;
}
.panel .box-options-perfil p.geo-marker {
  color: #7c7c7c;
  font-size: 1.1em;
}
.panel .box-options-perfil p.geo-marker i {
  color: #ff8583;
  font-size: 1.4em;
}
.panel .porce-perfil-panel {
  width: 220px;
  background-color: #eff4f4;
  padding: 8px 10px;
  color: #ff8583;
  font-size: 0.9em;
  font-weight: bold;
}
.panel .progress {
  border-radius: 0;
  width: 220px;
  height: 5px;
  margin-bottom: 0;
  background-color: #b6b6b6;
}
.panel .progress-bar-status {
  background-color: #ff8583;
}
.panel .avatar-panel {
  width: 220px;
  max-width: 100%;
}
.panel h4 {
  font-size: 1.4em;
  font-weight: bold;
  padding-top: 5px;
  color: #7c7c7c;
}
.panel h5 {
  font-size: 1em;
  font-weight: bold;
  color: #ff8583;
}
.panel p {
  font-size: 0.88em;
}
.panel ul.option-perfil {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.panel ul.option-perfil li {
  font-size: 1em;
  padding-bottom: 12px;
}
.panel ul.option-perfil li > a {
  color: #ff8583;
  font-weight: bold;
}
.panel ul.option-perfil li > a i {
  padding: 6px 7px;
  border-radius: 50%;
  background-color: #ddd;
}
.panel ul.option-perfil li > a span {
  padding-left: 8px;
}
.panel .nav-tabs > li.active > a,
.panel .nav-tabs > li.active > a:hover,
.panel .nav-tabs > li.active > a:focus {
  border: 1px solid #ff8680 !important;
  border-bottom-color: transparent !important;
  color: #ff8583 !important;
  background-color: #f5fbfb;
}
.panel .nav-tabs > li.active > a:hover {
  color: #ff8583 !important;
}
.panel .nav-tabs {
  border-bottom: 1px solid #ff8583 !important;
}
.panel .nav-tabs > li > a {
  color: #ff8583;
  font-family: "SeravekMedium";
  font-size: 1.04em;
}
.panel .nav-tabs > li > a:hover {
  background-color: #ff8680;
  color: #fff;
  border-bottom: transparent;
}
.panel .tab-content .text-tab {
  color: #3a3535;
}
.panel .tab-content .text-tab span {
  font-weight: bold;
}
.panel .tab-content .thumb .fa-iconos {
  font-size: 1.3em;
  margin: 8px 0;
  color: #ff513a;
}
.panel .perfil-edit {
  list-style-type: none;
  margin: 0;
  padding: 0 15px;
}
.panel .perfil-edit li {
  color: #ff8583;
  font-weight: bold;
  padding: 5px 0;
}
.panel .perfil-edit li a {
  text-decoration: none;
  border-bottom: dashed 1px #3a3535;
  color: #7c7c7c;
  font-weight: lighter;
}
.panel .perfil-edit li > span {
  font-weight: lighter;
  color: #7c7c7c;
}
.panel .bootstrap-filestyle.input-group {
  float: right !important;
}
/*------------------Perfiles--------------------*/
.fondo-loading {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #ddd;
  width: 100%;
  height: 100%;
  overflow: none;
  outline: 0;
  z-index: 1050;
  opacity: 0.5;
  display: none;
}
.container-perfiles .box-search {
  font-size: 1.1em;
  padding-bottom: 18px;
  border-bottom: 2px solid #ddd;
}
.container-perfiles .box-search h4 {
  font-weight: bold;
  color: #7c7c7c;
}
.container-perfiles .box-search .form-control {
  padding: 7px 9px;
  border-radius: 5px;
  background: #f1f1f1;
  color: #7c7c7c;
  border: none;
  font-weight: bold;
}
.container-perfiles .box-search .btn-search {
  background-color: #17cb86;
  border: none;
  color: #fff;
  border-bottom: 4px solid #00bd76;
  padding: 4px 35px;
  font-size: 1.1em;
  font-weight: bold;
}
.container-perfiles .box-search .btn-search:hover {
  background-color: #3bd39a;
}
.container-perfiles .content-opciones .box-opciones {
  margin-bottom: 10px;
}
.container-perfiles .content-opciones .box-opciones span.title {
  padding: 8px 15px;
  background-color: #f1f1f1;
  display: block;
  color: #7c7c7c;
  font-weight: bold;
  font-size: 1.1em;
  border-radius: 7px;
  border-bottom: 4px solid #ddd;
}
.container-perfiles .content-opciones .box-opciones .checkbox {
  margin-left: 20px;
  color: #7c7c7c;
}
.container-perfiles .content-opciones .box-opciones .radio {
  margin-left: 20px;
  color: #7c7c7c;
}
.container-perfiles .list-perfiles .ver-mas a {
  color: #fb5c5c;
  font-weight: bold;
}
.container-perfiles .list-perfiles .loading {
  display: none;
}
.container-perfiles .list-perfiles .box-perfiles {
  padding-bottom: 20px;
  padding-top: 20px;
  border-bottom: 2px solid #ddd;
  padding-left: 18px;
  padding-right: 18px;
}
.container-perfiles .list-perfiles .box-perfiles p {
  color: #7c7c7c;
}
.container-perfiles .list-perfiles .box-perfiles:hover {
  background-color: #f1f1f1;
}
.container-perfiles .list-perfiles .box-perfiles .geo {
  float: left;
}
.container-perfiles .list-perfiles .box-perfiles .geo .lbl-pais {
  float: left;
  color: #7c7c7c;
}
.container-perfiles .list-perfiles .box-perfiles .geo .flag {
  position: relative;
  float: left;
}
.container-perfiles .list-perfiles .box-perfiles h1 a {
  color: #ff8583;
  font-size: 0.8em;
  font-weight: 600;
  cursor: pointer;
}
.container-perfiles .list-perfiles .box-perfiles .title {
  color: #7c7c7c;
  font-weight: 600;
}
.container-perfiles .list-perfiles .box-perfiles .edad {
  color: #ff8583;
}
.container-perfiles .list-perfiles .box-perfiles .acceso-reg {
  color: #7c7c7c;
  font-weight: bold;
  font-size: 0.9em;
}
/*------------------------- Profile -------------------------*/
.content-profile {
  background-color: #f5fbfb;
}
.content-profile .col-md-3 {
  padding: 0;
}
.content-profile .image-perfil > img {
  max-width: 100%;
  width: 220px;
}
.content-profile .box-perfil {
  width: 220px;
  min-height: 200px;
  float: left;
  background-color: #eff4f4;
  padding: 0;
}
.content-profile .box-perfil .progress {
  border-radius: 0;
  width: 220px;
  height: 5px;
  margin-bottom: 0;
  background-color: #b6b6b6;
}
.content-profile .box-perfil .progress-bar-status {
  background-color: #ff8583;
}
.content-profile .box-perfil .porce-perfil-panel {
  width: 220px;
  background-color: #eff4f4;
  padding: 8px 10px;
  color: #ff8583;
  font-size: 0.9em;
  font-weight: bold;
}
.content-profile .city {
  text-align: center;
  color: #7c7c7c;
}
.content-profile .city i {
  color: #ff8583;
  font-size: 1.4em;
}
.content-profile .box-more-image {
  margin-top: 15px;
  text-align: center;
}
.content-profile .box-more-image > a {
  padding: 5px 20px;
  background-color: #ddd;
  border-radius: 5px;
  color: #ff8583;
  font-weight: bold;
}
.content-profile .box-message-btn {
  margin-top: 18px;
  margin-bottom: 15px;
  text-align: center;
}
.content-profile .box-message-btn > a {
  padding: 5px 20px;
  background-color: #17cb86;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  font-size: 1.1em;
}
.content-profile .title-bar {
  padding: 15px 0 0 0;
  border-radius: 5px;
  color: #7c7c7c;
  float: left;
  width: 100%;
}
.content-profile .title-bar .title {
  float: left;
  font-weight: bold;
  font-size: 1.2em;
}
.content-profile .title-bar .opciones {
  float: right;
}
.content-profile .tab-content > .tab-pane {
  padding: 15px 15px;
  float: left;
}
.content-profile .box-descripcion {
  width: 100%;
  color: #7c7c7c;
}
.content-profile .data-list {
  margin-top: 10px;
  float: left;
  width: 100%;
  color: #7c7c7c;
}
.content-profile .data-list .item {
  font-weight: bold;
  color: #ff8583;
}
.content-profile .box-tab {
  margin-top: 20px;
  float: left;
  width: 100%;
}
.content-profile .box-tab .nav-tabs > li.active > a,
.content-profile .box-tab .nav-tabs > li.active > a:hover,
.content-profile .box-tab .nav-tabs > li.active > a:focus {
  border: 1px solid #ff8583 !important;
  border-bottom-color: transparent !important;
  color: #ff8583 !important;
  background-color: #f5fbfb;
  font-weight: bold;
}
.content-profile .box-tab .nav-tabs > li.active > a:hover {
  color: #ff8583 !important;
}
.content-profile .box-tab .nav-tabs {
  border-bottom: 1px solid #ff8583 !important;
}
.content-profile .box-tab .nav-tabs > li > a {
  color: #ff8583;
  font-weight: bold;
}
.content-profile .box-tab .nav-tabs > li > a:hover {
  background-color: #ff8680;
  color: #fff;
  border-bottom: transparent;
}
.content-profile .box-tab .tab-content .text-tab {
  color: #3a3535;
}
.content-profile .box-tab .tab-content .text-tab span {
  font-weight: bold;
}
.content-profile .box-tab .box-fotos {
  padding: 20px 0;
}
.content-profile .box-tab .box-fotos .item-foto {
  margin-bottom: 20px;
  position: relative;
  float: left;
}
.content-profile .box-tab .box-fotos .item-foto:before {
  content: '';
  position: absolute;
  top: 6px;
  right: 7px;
  bottom: 6px;
  left: 7px;
  border: 1px solid rgba(255,255,255,0.5);
}
.content-profile .box-tab .box-musica {
  padding: 20px 0;
}
.content-profile .box-tab .box-musica .label-default {
  font-size: 0.9em;
  background-color: #ff8583;
}
/*------------------------- Pretendientes-------------------------*/
.pretendientes .user-item {
  text-align: center;
}
.pretendientes .user-item .progress {
  max-width: 100%;
}
.pretendientes .user-item .name {
  color: #7c7c7c;
}
/*--------------------------Banderas-------------------------*/
.flag {
  width: 16px;
  height: 11px;
  background: url("../img/flags.png") no-repeat;
  position: absolute;
  margin: 5px 5px;
}
.flag.flag-ad {
  background-position: -16px 0;
}
.flag.flag-ae {
  background-position: -32px 0;
}
.flag.flag-af {
  background-position: -48px 0;
}
.flag.flag-ag {
  background-position: -64px 0;
}
.flag.flag-ai {
  background-position: -80px 0;
}
.flag.flag-al {
  background-position: -96px 0;
}
.flag.flag-am {
  background-position: -112px 0;
}
.flag.flag-an {
  background-position: -128px 0;
}
.flag.flag-ao {
  background-position: -144px 0;
}
.flag.flag-ar {
  background-position: -160px 0;
}
.flag.flag-as {
  background-position: -176px 0;
}
.flag.flag-at {
  background-position: -192px 0;
}
.flag.flag-au {
  background-position: -208px 0;
}
.flag.flag-aw {
  background-position: -224px 0;
}
.flag.flag-az {
  background-position: -240px 0;
}
.flag.flag-ba {
  background-position: 0 -11px;
}
.flag.flag-bb {
  background-position: -16px -11px;
}
.flag.flag-bd {
  background-position: -32px -11px;
}
.flag.flag-be {
  background-position: -48px -11px;
}
.flag.flag-bf {
  background-position: -64px -11px;
}
.flag.flag-bg {
  background-position: -80px -11px;
}
.flag.flag-bh {
  background-position: -96px -11px;
}
.flag.flag-bi {
  background-position: -112px -11px;
}
.flag.flag-bj {
  background-position: -128px -11px;
}
.flag.flag-bm {
  background-position: -144px -11px;
}
.flag.flag-bn {
  background-position: -160px -11px;
}
.flag.flag-bo {
  background-position: -176px -11px;
}
.flag.flag-br {
  background-position: -192px -11px;
}
.flag.flag-bs {
  background-position: -208px -11px;
}
.flag.flag-bt {
  background-position: -224px -11px;
}
.flag.flag-bv {
  background-position: -240px -11px;
}
.flag.flag-bw {
  background-position: 0 -22px;
}
.flag.flag-by {
  background-position: -16px -22px;
}
.flag.flag-bz {
  background-position: -32px -22px;
}
.flag.flag-ca {
  background-position: -48px -22px;
}
.flag.flag-catalonia {
  background-position: -64px -22px;
}
.flag.flag-cd {
  background-position: -80px -22px;
}
.flag.flag-cf {
  background-position: -96px -22px;
}
.flag.flag-cg {
  background-position: -112px -22px;
}
.flag.flag-ch {
  background-position: -128px -22px;
}
.flag.flag-ci {
  background-position: -144px -22px;
}
.flag.flag-ck {
  background-position: -160px -22px;
}
.flag.flag-cl {
  background-position: -176px -22px;
}
.flag.flag-cm {
  background-position: -192px -22px;
}
.flag.flag-cn {
  background-position: -208px -22px;
}
.flag.flag-co {
  background-position: -224px -22px;
}
.flag.flag-cr {
  background-position: -240px -22px;
}
.flag.flag-cu {
  background-position: 0 -33px;
}
.flag.flag-cv {
  background-position: -16px -33px;
}
.flag.flag-cw {
  background-position: -32px -33px;
}
.flag.flag-cy {
  background-position: -48px -33px;
}
.flag.flag-cz {
  background-position: -64px -33px;
}
.flag.flag-de {
  background-position: -80px -33px;
}
.flag.flag-dj {
  background-position: -96px -33px;
}
.flag.flag-dk {
  background-position: -112px -33px;
}
.flag.flag-dm {
  background-position: -128px -33px;
}
.flag.flag-do {
  background-position: -144px -33px;
}
.flag.flag-dz {
  background-position: -160px -33px;
}
.flag.flag-ec {
  background-position: -176px -33px;
}
.flag.flag-ee {
  background-position: -192px -33px;
}
.flag.flag-eg {
  background-position: -208px -33px;
}
.flag.flag-eh {
  background-position: -224px -33px;
}
.flag.flag-england {
  background-position: -240px -33px;
}
.flag.flag-er {
  background-position: 0 -44px;
}
.flag.flag-es {
  background-position: -16px -44px;
}
.flag.flag-et {
  background-position: -32px -44px;
}
.flag.flag-eu {
  background-position: -48px -44px;
}
.flag.flag-fi {
  background-position: -64px -44px;
}
.flag.flag-fj {
  background-position: -80px -44px;
}
.flag.flag-fk {
  background-position: -96px -44px;
}
.flag.flag-fm {
  background-position: -112px -44px;
}
.flag.flag-fo {
  background-position: -128px -44px;
}
.flag.flag-fr {
  background-position: -144px -44px;
}
.flag.flag-ga {
  background-position: -160px -44px;
}
.flag.flag-gb {
  background-position: -176px -44px;
}
.flag.flag-gd {
  background-position: -192px -44px;
}
.flag.flag-ge {
  background-position: -208px -44px;
}
.flag.flag-gf {
  background-position: -224px -44px;
}
.flag.flag-gg {
  background-position: -240px -44px;
}
.flag.flag-gh {
  background-position: 0 -55px;
}
.flag.flag-gi {
  background-position: -16px -55px;
}
.flag.flag-gl {
  background-position: -32px -55px;
}
.flag.flag-gm {
  background-position: -48px -55px;
}
.flag.flag-gn {
  background-position: -64px -55px;
}
.flag.flag-gp {
  background-position: -80px -55px;
}
.flag.flag-gq {
  background-position: -96px -55px;
}
.flag.flag-gr {
  background-position: -112px -55px;
}
.flag.flag-gs {
  background-position: -128px -55px;
}
.flag.flag-gt {
  background-position: -144px -55px;
}
.flag.flag-gu {
  background-position: -160px -55px;
}
.flag.flag-gw {
  background-position: -176px -55px;
}
.flag.flag-gy {
  background-position: -192px -55px;
}
.flag.flag-hk {
  background-position: -208px -55px;
}
.flag.flag-hm {
  background-position: -224px -55px;
}
.flag.flag-hn {
  background-position: -240px -55px;
}
.flag.flag-hr {
  background-position: 0 -66px;
}
.flag.flag-ht {
  background-position: -16px -66px;
}
.flag.flag-hu {
  background-position: -32px -66px;
}
.flag.flag-ic {
  background-position: -48px -66px;
}
.flag.flag-id {
  background-position: -64px -66px;
}
.flag.flag-ie {
  background-position: -80px -66px;
}
.flag.flag-il {
  background-position: -96px -66px;
}
.flag.flag-im {
  background-position: -112px -66px;
}
.flag.flag-in {
  background-position: -128px -66px;
}
.flag.flag-io {
  background-position: -144px -66px;
}
.flag.flag-iq {
  background-position: -160px -66px;
}
.flag.flag-ir {
  background-position: -176px -66px;
}
.flag.flag-is {
  background-position: -192px -66px;
}
.flag.flag-it {
  background-position: -208px -66px;
}
.flag.flag-je {
  background-position: -224px -66px;
}
.flag.flag-jm {
  background-position: -240px -66px;
}
.flag.flag-jo {
  background-position: 0 -77px;
}
.flag.flag-jp {
  background-position: -16px -77px;
}
.flag.flag-ke {
  background-position: -32px -77px;
}
.flag.flag-kg {
  background-position: -48px -77px;
}
.flag.flag-kh {
  background-position: -64px -77px;
}
.flag.flag-ki {
  background-position: -80px -77px;
}
.flag.flag-km {
  background-position: -96px -77px;
}
.flag.flag-kn {
  background-position: -112px -77px;
}
.flag.flag-kp {
  background-position: -128px -77px;
}
.flag.flag-kr {
  background-position: -144px -77px;
}
.flag.flag-kurdistan {
  background-position: -160px -77px;
}
.flag.flag-kw {
  background-position: -176px -77px;
}
.flag.flag-ky {
  background-position: -192px -77px;
}
.flag.flag-kz {
  background-position: -208px -77px;
}
.flag.flag-la {
  background-position: -224px -77px;
}
.flag.flag-lb {
  background-position: -240px -77px;
}
.flag.flag-lc {
  background-position: 0 -88px;
}
.flag.flag-li {
  background-position: -16px -88px;
}
.flag.flag-lk {
  background-position: -32px -88px;
}
.flag.flag-lr {
  background-position: -48px -88px;
}
.flag.flag-ls {
  background-position: -64px -88px;
}
.flag.flag-lt {
  background-position: -80px -88px;
}
.flag.flag-lu {
  background-position: -96px -88px;
}
.flag.flag-lv {
  background-position: -112px -88px;
}
.flag.flag-ly {
  background-position: -128px -88px;
}
.flag.flag-ma {
  background-position: -144px -88px;
}
.flag.flag-mc {
  background-position: -160px -88px;
}
.flag.flag-md {
  background-position: -176px -88px;
}
.flag.flag-me {
  background-position: -192px -88px;
}
.flag.flag-mg {
  background-position: -208px -88px;
}
.flag.flag-mh {
  background-position: -224px -88px;
}
.flag.flag-mk {
  background-position: -240px -88px;
}
.flag.flag-ml {
  background-position: 0 -99px;
}
.flag.flag-mm {
  background-position: -16px -99px;
}
.flag.flag-mn {
  background-position: -32px -99px;
}
.flag.flag-mo {
  background-position: -48px -99px;
}
.flag.flag-mp {
  background-position: -64px -99px;
}
.flag.flag-mq {
  background-position: -80px -99px;
}
.flag.flag-mr {
  background-position: -96px -99px;
}
.flag.flag-ms {
  background-position: -112px -99px;
}
.flag.flag-mt {
  background-position: -128px -99px;
}
.flag.flag-mu {
  background-position: -144px -99px;
}
.flag.flag-mv {
  background-position: -160px -99px;
}
.flag.flag-mw {
  background-position: -176px -99px;
}
.flag.flag-mx {
  background-position: -192px -99px;
}
.flag.flag-my {
  background-position: -208px -99px;
}
.flag.flag-mz {
  background-position: -224px -99px;
}
.flag.flag-na {
  background-position: -240px -99px;
}
.flag.flag-nc {
  background-position: 0 -110px;
}
.flag.flag-ne {
  background-position: -16px -110px;
}
.flag.flag-nf {
  background-position: -32px -110px;
}
.flag.flag-ng {
  background-position: -48px -110px;
}
.flag.flag-ni {
  background-position: -64px -110px;
}
.flag.flag-nl {
  background-position: -80px -110px;
}
.flag.flag-no {
  background-position: -96px -110px;
}
.flag.flag-np {
  background-position: -112px -110px;
}
.flag.flag-nr {
  background-position: -128px -110px;
}
.flag.flag-nu {
  background-position: -144px -110px;
}
.flag.flag-nz {
  background-position: -160px -110px;
}
.flag.flag-om {
  background-position: -176px -110px;
}
.flag.flag-pa {
  background-position: -192px -110px;
}
.flag.flag-pe {
  background-position: -208px -110px;
}
.flag.flag-pf {
  background-position: -224px -110px;
}
.flag.flag-pg {
  background-position: -240px -110px;
}
.flag.flag-ph {
  background-position: 0 -121px;
}
.flag.flag-pk {
  background-position: -16px -121px;
}
.flag.flag-pl {
  background-position: -32px -121px;
}
.flag.flag-pm {
  background-position: -48px -121px;
}
.flag.flag-pn {
  background-position: -64px -121px;
}
.flag.flag-pr {
  background-position: -80px -121px;
}
.flag.flag-ps {
  background-position: -96px -121px;
}
.flag.flag-pt {
  background-position: -112px -121px;
}
.flag.flag-pw {
  background-position: -128px -121px;
}
.flag.flag-py {
  background-position: -144px -121px;
}
.flag.flag-qa {
  background-position: -160px -121px;
}
.flag.flag-re {
  background-position: -176px -121px;
}
.flag.flag-ro {
  background-position: -192px -121px;
}
.flag.flag-rs {
  background-position: -208px -121px;
}
.flag.flag-ru {
  background-position: -224px -121px;
}
.flag.flag-rw {
  background-position: -240px -121px;
}
.flag.flag-sa {
  background-position: 0 -132px;
}
.flag.flag-sb {
  background-position: -16px -132px;
}
.flag.flag-sc {
  background-position: -32px -132px;
}
.flag.flag-scotland {
  background-position: -48px -132px;
}
.flag.flag-sd {
  background-position: -64px -132px;
}
.flag.flag-se {
  background-position: -80px -132px;
}
.flag.flag-sg {
  background-position: -96px -132px;
}
.flag.flag-sh {
  background-position: -112px -132px;
}
.flag.flag-si {
  background-position: -128px -132px;
}
.flag.flag-sk {
  background-position: -144px -132px;
}
.flag.flag-sl {
  background-position: -160px -132px;
}
.flag.flag-sm {
  background-position: -176px -132px;
}
.flag.flag-sn {
  background-position: -192px -132px;
}
.flag.flag-so {
  background-position: -208px -132px;
}
.flag.flag-somaliland {
  background-position: -224px -132px;
}
.flag.flag-sr {
  background-position: -240px -132px;
}
.flag.flag-ss {
  background-position: 0 -143px;
}
.flag.flag-st {
  background-position: -16px -143px;
}
.flag.flag-sv {
  background-position: -32px -143px;
}
.flag.flag-sx {
  background-position: -48px -143px;
}
.flag.flag-sy {
  background-position: -64px -143px;
}
.flag.flag-sz {
  background-position: -80px -143px;
}
.flag.flag-tc {
  background-position: -96px -143px;
}
.flag.flag-td {
  background-position: -112px -143px;
}
.flag.flag-tf {
  background-position: -128px -143px;
}
.flag.flag-tg {
  background-position: -144px -143px;
}
.flag.flag-th {
  background-position: -160px -143px;
}
.flag.flag-tj {
  background-position: -176px -143px;
}
.flag.flag-tk {
  background-position: -192px -143px;
}
.flag.flag-tl {
  background-position: -208px -143px;
}
.flag.flag-tm {
  background-position: -224px -143px;
}
.flag.flag-tn {
  background-position: -240px -143px;
}
.flag.flag-to {
  background-position: 0 -154px;
}
.flag.flag-tr {
  background-position: -16px -154px;
}
.flag.flag-tt {
  background-position: -32px -154px;
}
.flag.flag-tv {
  background-position: -48px -154px;
}
.flag.flag-tw {
  background-position: -64px -154px;
}
.flag.flag-tz {
  background-position: -80px -154px;
}
.flag.flag-ua {
  background-position: -96px -154px;
}
.flag.flag-ug {
  background-position: -112px -154px;
}
.flag.flag-um {
  background-position: -128px -154px;
}
.flag.flag-us {
  background-position: -144px -154px;
}
.flag.flag-uy {
  background-position: -160px -154px;
}
.flag.flag-uz {
  background-position: -176px -154px;
}
.flag.flag-va {
  background-position: -192px -154px;
}
.flag.flag-vc {
  background-position: -208px -154px;
}
.flag.flag-ve {
  background-position: -224px -154px;
}
.flag.flag-vg {
  background-position: -240px -154px;
}
.flag.flag-vi {
  background-position: 0 -165px;
}
.flag.flag-vn {
  background-position: -16px -165px;
}
.flag.flag-vu {
  background-position: -32px -165px;
}
.flag.flag-wales {
  background-position: -48px -165px;
}
.flag.flag-wf {
  background-position: -64px -165px;
}
.flag.flag-ws {
  background-position: -80px -165px;
}
.flag.flag-ye {
  background-position: -96px -165px;
}
.flag.flag-yt {
  background-position: -112px -165px;
}
.flag.flag-za {
  background-position: -128px -165px;
}
.flag.flag-zanzibar {
  background-position: -144px -165px;
}
.flag.flag-zm {
  background-position: -160px -165px;
}
.flag.flag-zw {
  background-position: -176px -165px;
}
