{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.css'%}" />
    <link rel="stylesheet" href="{% static 'css/font-awesome-4.5.0/font-awesome.min.css'%}" />

    <link rel="stylesheet" href="{% static 'css/sweetalert/sweetalert.css'%}" />
    <link rel="stylesheet" href="{% static 'css/flat-ui/flat-ui.css'%}" />
    <link rel="stylesheet" href="{% static 'css/style.min.css'%}" />

    <script type="text/javascript" src="{% static 'js/library/jquery.js'%}" > </script> 
    <script type="text/javascript" src="{% static 'js/library/bootstrap.min.js'%}" > </script>
    <script type="text/javascript" src="{% static 'js/library/flat-ui/flat-ui.min.js'%}" > </script>  
    <script type="text/javascript" src="{% static 'js/library/knockout/knockout-3.4.0.js'%}" > </script>
    <script type="text/javascript" src="{% static 'js/index.js'%}" > </script> 

</head>
<body>

    {% include 'partial/header.html' %}

    {% block content %}{% endblock %}

	{% include 'partial/footer.html' %}

</body>
</html>