{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.css'%}" />
    <link rel="stylesheet" href="{% static 'css/font-awesome-4.5.0/font-awesome.min.css'%}" />

    <link rel="stylesheet" href="{% static 'css/sweetalert/sweetalert.css'%}" />
    <link rel="stylesheet" href="{% static 'css/effect-hover/hover-effects.css'%}" />
    <link rel="stylesheet" href="{% static 'css/bootstrap-editable/bootstrap-editable.css'%}" />
    <link rel="stylesheet" href="{% static 'css/select2/select2.css'%}" />
    <link rel="stylesheet" href="{% static 'css/radio/build.css'%}" />
    <link rel="stylesheet" href="{% static 'css/bootstrap-switch/bootstrap-switch.min.css'%}" />
    <link rel="stylesheet" href="{% static 'css/bootstrap-slider/bootstrap-slider.min.css'%}" />
    <link rel="stylesheet" href="{% static 'css/ladda-bootstrap/ladda.min.css'%}" />
    
    <link rel="stylesheet" href="{% static 'css/style.min.css'%}" />

    <script type="text/javascript" src="{% static 'js/library/jquery.js'%}" > </script> 
    <!-- por el momento basta con utilizar flat-ui.min.js -->
    <!--<script type="text/javascript" src="{% static 'js/library/bootstrap.min.js'%}" > </script> -->
    <script type="text/javascript" src="{% static 'js/library/knockout/knockout-3.4.0.js'%}" > </script> 
    <script type="text/javascript" src="{% static 'js/library/flat-ui/flat-ui.min.js'%}" > </script>  
    <script type="text/javascript" src="http://127.0.0.1:3000/javascripts/library/socket.io/socket.io.js" > </script> 
    <script type="text/javascript" src="{% static 'js/library/moment/moment.min.js'%}" > </script> 
    <script type="text/javascript" src="{% static 'js/library/ladda-bootstrap/spin.min.js'%}" > </script> 
    <script type="text/javascript" src="{% static 'js/library/ladda-bootstrap/ladda.min.js'%}" > </script> 
    <script type="text/javascript" src="{% static 'js/library/global/funciones.js'%}" > </script>
    <script type="text/javascript" src="{% static 'js/index-logueado.js'%}" > </script> 
    <script type="text/javascript" src="{% static 'js/index.js'%}" > </script> 
   

</head>
<body>

    {% include 'partial/header_panel.html' %}

    {% block content %}{% endblock %}

	{% include 'partial/footer.html' %}

</body>
</html>