{% extends header %}

{% block title %}Almas gemelas{% endblock %}

{% block content %}

<div id="slider">

  <div id="slider-home" class="carousel slide" data-ride="carousel">

     <div class="carousel-inner" role="listbox">

      <div class="item  active fill" style="background-image:url('static/img/slider-1.jpg');">

        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="carousel-content">

                <div class="box-txt-1">
                  <h1>Encuentra la pareja perfecta,más de 5000 usuarios buscandote</h1>
                </div>

                <div class="box-opciones">

                  <a class="btn btn-opcion" href="/register">es gratis </br> <strong>UNETE AHORA!</strong></a>
                  <a class="btn btn-opcion" href="#">solo por hoy </br> <strong>INGRESA YA!</strong></a>
                  
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
   
      </div>

  </div>

</div>

<div class="box-pasos">

   <div class="container">
          <div class="row">

            <div class="col-md-4">

            <h2>¿COMO FUNCIONA?</h2>
              
            </div>

            <div class="col-md-8">

              <ul class="como-funciona">

                <li>
                  <i class="glyphicon glyphicon-ok"></i> <a href="#"> Registrate gratis</a>
                </li>

                <li>
                  <i class="glyphicon glyphicon-pencil"></i> <a href="#"> Crea tu perfil</a>
                </li>

                <li>
                   <i class="glyphicon glyphicon-search"></i> <a href="#"> Revisa perfiles</a>
                </li>
              </ul>
              
            </div>

          </div>

          <div class="col-md-12 border-pasos">
          </div>
         
    </div>
  
</div>



<div class="box-members">

 <div class="container">
   <div class="row">
     <div class="col-md-12">
      <h4>Nuestros miembros</h4>

    </div>
  </div>

</div>

   <div style="background-image:url('static/img/mapa.png');height: 400px">

   </div>

</div>

<div class="box-prensa">

 <div class="container">
   <div class="row">
    <div class="col-md-12" style="padding-bottom: 25px">
      <p>Medios</p>
      <ul class="prensa">
        <li class="prensa-1">
          <a href="#"></a>
        </li>
        <li class="prensa-2">
          <a href="#"></a>
        </li>
        <li class="prensa-3">
          <a href="#"></a>
        </li>
        <li class="prensa-4">
          <a href="#"></a>
        </li>
      </ul>
    </div>
  </div>
</div>
  
</div>
  

{% endblock %}

