{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}


<div class="top-ini register">

   <div class="container">

      <div class="row" id="form">
        <div class="col-md-12 center" style="margin : 55px 0">
          	<form class="form-horizontal" method="POST" id="frmLogin">

          		  {% csrf_token %}

          			<div class="form-group">
          				<label for="inputEmail3" class="col-sm-2 control-label">Email</label>
          				<div class="col-sm-10">
          					<input type="email" class="form-control" id="email" name="email" placeholder="Email">
          				</div>
          			</div>
          			<div class="form-group">
          				<label for="inputPassword3" class="col-sm-2 control-label">Password</label>
          				<div class="col-sm-10">
          					<input type="password" class="form-control" id="pass" name="pass" placeholder="Password">
          				</div>
          			</div>

          			<div class="form-group" style="display: none" id="loading">
          				<div class="col-sm-offset-2 col-sm-10">
          					<i class="fa fa-circle-o-notch fa-spin fa-lg"></i>
          				</div>
          			</div>
        
          			<div class="form-group">
          				<div class="col-sm-offset-2 col-sm-10">
          					<button type="button" class="btn btn-register">Iniciar sesión</button>
          				</div>
          			</div>
          	</form>
        </div>
      </div>

    </div>
</div>

<script type="text/javascript" src="/static/js/library/sweetalert/sweetalert.min.js" > </script> 
<script type="text/javascript" src="/static/js/login.js" > </script> 

{% endblock %}

