
{% extends header %}

{% block title %}Perfiles{% endblock %}

{% block content %}

<link rel="stylesheet" href="/static/css/flat-ui/flat-ui.css" />

<div class="top-ini register">

	<div class="container container-perfiles">

		<div class="row center box-search" id="form">
			<div class="col-md-3">
			<h4>Estoy en busca de :</h4>
				
			</div>

			<div class="col-md-9">
				<form class="form-inline">

					<div class="form-group">
						<select class="form-control" id="sexo-interes">
							<option value="f">Mujeres</option>
							<option value="m">Hombres</option>
						</select>
					</div>

					<div class="form-group">
						entre <select class="form-control" id="edad_ini">
				            
							{% for i in edad_ini %}
    							<option value={{i}}> {{i}}</option>
							{% endfor %}
					
						</select> y
						<select class="form-control" id="edad_fin">
							{% for i in edad_fin %}
    							<option value={{i}}> {{i}}</option>
							{% endfor %}
						</select>
					</div>

					<div class="form-group">
						en <select class="form-control" style="margin-right: 5px;" id="ciudad">
					
						{% for data in ciudad%}
							<option value="{{ data.id }}">{{ data.nombre }}</option>
						{% endfor %}
						</select>
					</div>

					<div class="form-group">
						<button class="btn btn-search" type="button" id="btn-buscar">Buscar</button>
					</div>

				</form>
			
			</div>

		</div>
		<div class="row" style="margin-top: 20px">
			<div class="col-md-2 content-opciones">
				<div class="row">
					<div class="col-md-12 box-opciones">
						<span class="title">Religión</span>
						{% for data in religion %}
							<label class="radio" for="radio{{forloop.counter}}">
							<input type="radio" value="{{ data.id }}" id="radio{{forloop.counter}}"  name="religion" data-toggle="radio" checked>
							{{ data.nombre }}
						</label>
						{% endfor %}
					
					</div>

				</div>

				<div class="row">
					<div class="col-md-12 box-opciones">
						<span class="title">Color de piel</span>
						<label class="checkbox" for="chkPiel1">
							<input type="checkbox" value="Blanco" id="chkPiel1" name="piel" data-toggle="checkbox">
							Blanco
						</label>
						<label class="checkbox" for="chkPiel2">
							<input type="checkbox" value="Moreno" id="chkPiel2" name="piel" data-toggle="checkbox">
							Moreno
						</label>
						<label class="checkbox" for="chkPiel3">
							<input type="checkbox" value="Mestizo" id="chkPiel3" name="piel" data-toggle="checkbox">
							Mestizo
						</label>
					</div>

				</div>

				<div class="row">
					<div class="col-md-12 box-opciones">
						<span class="title">Estatura</span>
						<label class="radio" for="chkEst1">
							<input type="radio" value="Alto" id="chkEst1" name="estatura" data-toggle="radio">
							Alto
						</label>
						<label class="radio" for="chkEst2">
							<input type="radio" value="Medio" id="chkEst2" name="estatura" data-toggle="radio">
							Medio
						</label>
						<label class="radio" for="chkEst3">
							<input type="radio" value="Bajo" id="chkEst3" name="estatura" data-toggle="radio">
							Bajo
						</label>

					</div>

				</div>
			</div>
			<div class="col-md-10 list-perfiles" id="perfiles">
				<div class="loading center">
					<img src="/static/img/loading.gif">
				</div>
				
				<div data-bind="with: verPerfiles">
				<div data-bind="foreach: perfiles">
					<div class="row box-perfiles">

						<div class="col-md-2">
							<img data-bind="attr: {src : foto_perfil}" width="130">
						</div>

						<div class="col-md-10">
							<h1>
								<a data-bind="text: nombre,attr: {href : url_perfil}" ></a>
							</h1>
							<div class="title" data-bind="text: titulo"></div>
							<div class="edad">Edad : <span data-bind="text: edad"></span>  años | Signo : <span data-bind="text: zodiaco"></span></div>
							<p data-bind="text: descripcion"></p>

							<div class="row">
								<div class="col-md-12">
									<div class="geo">
										<div class="lbl-pais" data-bind="text: ciudad"> </div>
										<div  data-bind="css: bandera"></div>
									</div>
								</div>

							</div>

							<div class="row">
								<div class="col-md-12">
									<div class="acceso-reg">
										Último acceso <span data-bind="text: acceso"></span> | Registrado <span data-bind="text: registrado"></span>
									</div>
								</div>
							</div>


						</div>

					</div>
					
				</div>

				<div data-bind="if: fila" class="center ver-mas">
					<a href="javascript:void(0)" data-bind="attr: { fila: fila ,paginador : paginador },click : verMas" >Ver más </a>
				</div>


				<div data-bind="if: perfiles().length <=0">
					<p>No hay perfiles</p>
				</div>

				</div>

			</div>
		</div>

	</div>
</div>

<div class="fondo-loading">

</div>

<script type="text/javascript" src="/static/js/library/sweetalert/sweetalert.min.js" > </script> 
<script type="text/javascript" src="/static/js/perfiles.js" > </script> 

{% endblock %}

