{% extends header %}

{% block title %}Perfil{% endblock %}

{% block content %}
<div class="top-ini register">
	<div class="container content-profile" id="perfil">
		<div class="row" data-bind="with: perfil">

			<div class="col-md-3">
				<div class="image-perfil">
					<img src="{{ usuario.foto_perfil }}" width="245">

				</div>

				<div class="box-perfil">
					<div class="progress">
						<div class="progress-bar progress-bar-status" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">	
						</div>
					</div>

					<div class="porce-perfil-panel">
                		60% compatible
              		</div>

					<div class="city">
						<i class="fa fa-map-marker"></i> {{ usuario.ciudad }} <span class="{{ usuario.bandera }}"></span>
					</div>

					<div class="box-more-image">
						<a href="/"> Ver más fotos <i class="fa fa-camera"></i></a>
					</div>

					<div class="box-message-btn">

					{% if invite_perfil == 0 and pend_invite_perfil == 0 and invite_aceptado == 0 %}
					<a href="javascript:void(0)" class="ladda-button" data-style="expand-left" data-bind="click : quieroConocerte"> <span class="ladda-label" data-bind = "text : label_invite"></span><i class="fa fa-send"></i>
					<span class="ladda-spinner"></span>
					</a>
					{% elif pend_invite_perfil > 0 and invite_aceptado == 0  %}
							<a href="javascript:void(0)" class="ladda-button" data-style="expand-left" data-bind="click : aceptarInvitacion"> <span class="ladda-label" data-bind = "text : label_accept_invite"></span> <i class="fa fa-check"></i> <span class="ladda-spinner"></span></a>
					{% elif invite_aceptado > 0 %}
							<a href="javascript:void(0)"> Escribir mensaje <i class="fa fa-pencil"></i> </a>
					{% else %}
							<a href="javascript:void(0)"> Invitación enviada <i class="fa fa-flash"></i> </a>
					{% endif %}
					</div>
					
				</div>

			</div>

			<div class="col-md-9">

				<div class="title-bar">
					<div class="title">{{ usuario.nombre }} : {{ usuario.titulo }}</div>
					<input type="hidden" id="usuario_perfil" value="{{ usuario.id }}" />
					<div class="opciones">
						<i class="fa fa-heart"></i> <i class="fa fa-star-half-empty"></i> <i class="fa fa-eye"></i>
					</div>
				</div>

				<div class="box-tab">
					<ul class="nav nav-tabs" role="tablist">
						<li role="presentation" class="active"><a href="#sobre-mi-tab" aria-controls="sobre-mi" role="tab" data-toggle="tab">Acerca de mi</a></li>
						<li role="presentation"><a href="#apariencia-tab" aria-controls="interes" role="tab" data-toggle="tab">Apariencia</a></li>
						<li role="presentation"><a href="#fotos-tab" aria-controls="fotos-tab" role="tab" data-toggle="tab">Fotos</a></li>
						
						<li role="presentation"><a href="#musica-tab" aria-controls="musica" role="tab" data-toggle="tab">Música</a></li>
					</ul>

					<div class="tab-content">
						
						<div role="tabpanel" class="tab-pane active" id="sobre-mi-tab">
							<div class="box-descripcion">
							{{ usuario.descripcion }}
							</div>

							<div class="data-list">
								<div class="col-md-3 item">
									Edad :
								</div>
								<div class="col-md-9">
									{{ usuario.edad }} años
								</div>
							</div>

							<div class="data-list">
								<div class="col-md-3 item">
									Signo :
								</div>
								<div class="col-md-9">
									{{ usuario.zodiaco }}
								</div>
							</div>

							<div class="data-list">
								<div class="col-md-3 item">
									Sexo : 
								</div>
								<div class="col-md-9">
									{%  if usuario.sexo == "m" %}
										Masculino
									{% else %}
										Femenino
									{% endif %}
								</div>
							</div>

							<div class="data-list">
								<div class="col-md-3 item">
									Religión : 
								</div>
								<div class="col-md-9">
									{{ usuario.religion|default:"--------" }}
								</div>
							</div>

							<div class="data-list">
								<div class="col-md-3 item">
									Estado civil : 
								</div>
								<div class="col-md-9">
									{{ usuario.est_civil|default:"--------" }}
								</div>
							</div>
							<div class="data-list">
								<div class="col-md-3 item">
									Educación : 
								</div>
								<div class="col-md-9">
									{{ usuario.educacion }}
								</div>
							</div>
							<div class="data-list">
								<div class="col-md-3 item">
									Ocupación : 
								</div>
								<div class="col-md-9">
									{{ usuario.ocupacion }}
								</div>
							</div>
						</div>

						<div role="tabpanel" class="tab-pane" id="apariencia-tab">
			

							<div class="data-list">
								<div class="col-md-3 item">
									Color de piel : 
								</div>
								<div class="col-md-9">
									{{ usuario.piel }}
									
								</div>
							</div>

							<div class="data-list">
								<div class="col-md-3 item">
									Color de ojos : 
								</div>
								<div class="col-md-9">
									{{ usuario.ojos|default:"-----" }}
									
								</div>
							</div>

							<div class="data-list">
								<div class="col-md-3 item">
									Color de pelo : 
								</div>
								<div class="col-md-9">
									{{ usuario.cabello|default:"-----"  }}
									
								</div>
							</div>

							<div class="data-list">
								<div class="col-md-3 item">
									Complexión física : 
								</div>
								<div class="col-md-9">
									{{ usuario.fisico }}
									
								</div>
							</div>

							<div class="data-list">
								<div class="col-md-3 item">
									Estatura : 
								</div>
								<div class="col-md-9">
									{{ usuario.estatura }}
								</div>
							</div>
						</div>
						
						<div role="tabpanel" class="tab-pane" id="fotos-tab">
							<div class="row box-fotos">

								{% for fotos in usuario.fotos %}
								{% load replace %}
								<div class="col-md-3">
									<div class="item-foto">
										<img src="{% replace search='panel' replacement='' %} {{fotos.link.name}}.400x300_q85_crop.jpg {% endreplace %}" width="189">
									</div>
									
								</div>
								
								{% endfor %}
							
							</div>
						
						</div>

						<div role="tabpanel" class="tab-pane" id="musica-tab">
							<div class="row box-musica">
								<div class="col-md-12">
									{% for musica in usuario.musica %}
										<label class="label label-default">{{ musica.musica.descripcion}}</label>
									{% endfor %}
								</div>
								
							</div>
							
						</div>
					</div>
				</div>
			</div>
			
		</div>
	</div>
</div>

<script type="text/javascript" src="/static/js/perfil.js" > </script> 

{% endblock %}