{% extends "base.html" %}

{% block title %}Registro {% endblock %}


{% block content %}

<div class="top-ini register" id="register">

   <div class="container">

          <div class="row" id="form">

            <div class="col-md-12">
	            <h1>Registrate</h1>
	            <p>Ingresa tus datos para poder ingresar a la plataforma</p>
            </div>

            <div class="col-md-12">

          		<form class="form-horizontal" method="POST" id="frmRegister">

          		  {% csrf_token %}

          			<div class="form-group">
          				<label for="inputEmail3" class="col-sm-2 control-label">Nombre</label>
          				<div class="col-sm-10">
          					<input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre">
          				</div>
          			</div>

          			<div class="form-group">
          				<label for="inputEmail3" class="col-sm-2 control-label">Email</label>
          				<div class="col-sm-10">
          					<input type="email" class="form-control" id="email" name="email" placeholder="Email">
          				</div>
          			</div>

                <div class="form-group">
                  <label for="inputEmail3" class="col-sm-2 control-label">Pais</label>
                  <div class="col-sm-10">

                    <select class="form-control" data-bind="
                        options: pais.data,
                        optionsText: 'text',
                        optionsValue: 'value',
                        value: pais.selected,
                        optionsCaption: 'Elegir pais ...',
                        event:{ change: changePais()}
                    "></select>
                  </div>
                </div>
                <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Provincia</label>
                  <div class="col-sm-10">
                      <select class="form-control" data-bind="
                        options: provincia.data,
                        optionsText: 'text',
                        optionsValue: 'value',
                        value: provincia.selected,
                        optionsCaption: 'Elegir provincia ...',
                        event:{ change: changeProv()}
                      "></select>
                  </div>
                </div>

                <div class="form-group">
                  <label for="inputEmail3" class="col-sm-2 control-label">Ciudad</label>
                  <div class="col-sm-10">
                      <select class="form-control" data-bind="
                        options: ciudad.data,
                        optionsText: 'text',
                        optionsValue: 'value',
                        value: ciudad.selected,
                        optionsCaption: 'Elegir ciudad ...'
                        "></select>
                  </div>
                </div>

          			<div class="form-group">
          				<label for="inputPassword3" class="col-sm-2 control-label">Password</label>
          				<div class="col-sm-10">
          					<input type="password" class="form-control" id="pass" name="pass" placeholder="Password">
          				</div>
          			</div>

          			<div class="form-group" style="display: none" id="loading">
          				<div class="col-sm-offset-2 col-sm-10">
          					<i class="fa fa-circle-o-notch fa-spin fa-lg"></i>
          				</div>
          			</div>
        
          			<div class="form-group">
          				<div class="col-sm-offset-2 col-sm-10">
          					<button type="button" class="btn btn-register" data-bind="click : registrar" >Registrar</button>
          				</div>
          			</div>
          		</form>

          	</div>

          </div>


          <div class="row" style="display: none" id="msg-register">
          	<div class="col-md-12 center" style="margin : 55px 0">

          	    <h1>Felicidades se ha completado su registro!</h1>
	            <p>Hemos enviado un mensaje a su correo para que pueda validar su cuenta</p>
          	</div>
          </div>
    </div>
</div>

<script type="text/javascript" src="/static/js/library/sweetalert/sweetalert.min.js" > </script> 
<!--<script type="text/javascript" src="/static/js/home.js" > </script> -->

<script type="text/javascript" src="/static/js/app/home/home.bundle.js" > </script> 

{% endblock %}


