{% extends "base.html" %}

{% block title %}Almas gemelas{% endblock %}

{% block content %}


<div class="top-ini register">

   <div class="container">

    <div class="row" id="form">

      {% if exito == 'si'%}
        <div class="col-md-12 center" style="margin : 55px 0">
          <h1>Felicidades hemos activado tu cuenta</h1>
          <p>Ahora ya puedes ingresar y crear tu perfil</p>
        </div>
     
      {% else %}

        <div class="col-md-12 center" style="margin : 55px 0">
          <h1>Lo sentimos</h1>
          <p>No se pudo validar la cuenta</p>
        </div>
     

      {% endif %}

    </div>

    </div>
</div>



{% endblock %}

