<footer class="footer">
	<div class="container">
		<div class="row">

		<div class="col-md-2 col-sm-4 col-xs-12">
			<h5>Nosotros</h5>
			<ul>
				<li><a href="/">Casos de éxito</a></li>	
				<li><a href="/">Blog</a></li>
				<li><a href="/">Mi Alma Gemela</a></li>	
			</ul>
			</br>
			<h5>Nosotros</h5>
			<ul>
				<li><a href="/">Casos de éxito</a></li>	
				<li><a href="/">Blog</a></li>
				<li><a href="/">Mi Alma Gemela</a></li>	
			</ul>

		</div>
		<div class="col-md-2 col-sm-4 col-xs-12">
			<h5>Nosotros</h5>
			<ul>
				<li><a href="/">Casos de éxito</a></li>	
				<li><a href="/">Blog</a></li>
				<li><a href="/">Mi Alma Gemela</a></li>	
			</ul>
		
			
		</div>
		<div class="col-md-2 col-sm-4 col-xs-12">
			<h5>Nosotros</h5>
			<ul>
				<li><a href="/">Casos de éxito</a></li>	
				<li><a href="/">Blog</a></li>
				<li><a href="/">Mi Alma Gemela</a></li>	
			</ul>
			</br>

			<h5>Nosotros</h5>

			<ul>
				<li><a href="/">Casos de éxito</a></li>	
				<li><a href="/">Blog</a></li>
				<li><a href="/">Mi Alma Gemela</a></li>	
			</ul>
			
		</div>
		<div class="col-md-4 col-sm-8 col-xs-12">

			<h5>Nosotros</h5>
			<ul>
				<li><a href="/">Casos de éxito</a></li>	
				<li><a href="/">Blog</a></li>
				<li><a href="/">Mi Alma Gemela</a></li>	
			</ul>
			</br>
			<h5>Nosotros</h5>
			<ul>
				<li><a href="/">Casos de éxito</a></li>	
				<li><a href="/">Blog</a></li>
				<li><a href="/">Mi Alma Gemela</a></li>	
			</ul>
			
		</div>
		<div class="col-md-2 col-sm-4 col-xs-12">
			<h5>Redes Sociales</h5>
			<ul class="social">
				<li><a href="#"><i class="fa fa-facebook"></i></a></li>
				<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
				<li><a href="#"><i class="fa fa-twitter"></i></a></li>
				<li><a href="#"><i class="fa fa-youtube"></i></a></li>
			</ul>
		</div>
		</div>

		<div class="row" style="margin : 35px 0;text-align: center">
			<div class="col-md-12">
			<img src="/static/img/app_download.jpg">
			</div>

			<div class="col-md-12">


				
			</div>
		

		</div>
		
	</div>
	<div class="container">

		<p class="copyright">
			MySingleFriend® and MySingleFriend logo™ are trade marks proprietary to My Single Friend Limited. All rights reserved. MySingleFriend® is not responsible for the content of external internet sites.
		</p>
		
	</div>

			
</footer>