    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><img src="/static/img/on-line-dating-2.png" ></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse menu-header">
          <ul class="nav navbar-nav home">
        
            <!--<li class="active"><a href="#about">About</a></li>
            <li><a href="#contact">Hombres</a></li>
            <li><a href="#contact">Mujeres</a></li>
            -->
            <li><button href="/login" class="btn btn-login">Iniciar sesión</button></li>
         
          </ul>
        </div>
      </div>
    </nav>