    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container panel-menu">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><img src="/static/img/on-line-dating-2.png" ></a>
        </div>

        <div id="navbar" class="navbar-collapse collapse menu-header">
         <ul class="nav navbar-nav hi-icon-effect-8">

          <li class="active"><a href="/perfiles" data-toggle="tooltip" data-placement="bottom" title="Perfiles"><i class="hi-icon fa fa-user"></i></a></li>
          <li><a href="/mensajes" data-toggle="tooltip" data-placement="bottom" title="Mensajes"><i class="hi-icon fa fa-envelope"></i></a></li>
          <li class="dropdown" id="notify-vm" data-bind="with: notificacion">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="notify" data-placement="bottom" title="Notificaciones" ><i class="hi-icon fa fa-globe" ></i> 

            <div data-bind="if: item">
              <span class="badge notify" data-bind="text: item"></span> 
            </div>
          </a> 
            
            <ul class="dropdown-menu" aria-labelledby="notify">
              <li>
                <div class="list-group">
                <div data-bind="foreach: data">
                  <a data-bind="attr: {href : url_perfil,data : id_invitacion}" class="list-group-item notify-friend">
                   <div class="media-box">
                    <div class="pull-left">
                     <img data-bind="attr: {src : foto}" class="lg-img">
                    </div>
                   <div class="media-box-body clearfix">
                     <p class="m0" data-bind="text: nombre"></p>
                     <p class="m0 text-muted">
                      <small data-bind="text: titulo"></small>
                    </p>
                    </div>
                  </div>
                  </a>
                </div>
                <div data-bind="if: data().length <= 0">
               
                 <a class="list-group-item">
                   <div class="media-box">
                      <div class="media-box-body clearfix">
                        <p class="m0">No hay notificaciones</p>
                      </div>
                    </div>
                  </a> 
                </div>
              </div>
              </li>
           
            </ul>
          </li>
          <li id="header-data"><a href="/panel" data-bind="with: header"><span data-bind="text:usuario_session">{{ session.session.nombre }}</span><div class="avatar"> <img src="{{ session.session.image }}" data-bind = "attr: {src : foto_perfil}" /></div> </a></li>

          <input type="hidden" id="usuario_session" value="{{ session.session.id }}" />

          <input type="hidden" id="foto_perfil" value="{{ session.session.image }}" />
          <input type="hidden" id="usuario_name_session" value="{{ session.session.nombre }}" />
        </ul>
      </div>

      </div>
    </nav>